In [2]:
import os.path
import pandas as pd
import numpy as np
# import tensorflow as tf
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import seaborn as sns
from sklearn import preprocessing

In [10]:
df_1 = []
df_2 = []

for i in range(1,10):
    tmp = pd.read_csv('./smartcarlog/SmartCarStatusInfo_2019070%d.txt' %i)
    df_1.append(tmp)

for j in range(10,32):
    tmp = pd.read_csv('./smartcarlog/SmartCarStatusInfo_201907%d.txt' %j)
    df_2.append(tmp)

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,2,3,4,5,6,7,8,9,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
df = df_1 + df_2

In [12]:
res_df = pd.concat(df,ignore_index=True)

In [13]:
res_df

,SmartCar Status Information,CarNum,TireFL,TireFR,TireBL,TireBR,LightFL,LightFR,LightBL,LightBR,EngineInfo,BreakInfo,BatteryInfo
0,20190701000000,L0001,94,84,85,87,1,1,1,1,A,A,96
1,20190701000004,L0001,96,95,100,75,1,1,1,1,A,A,100
2,20190701000008,L0001,100,92,92,95,1,1,1,1,A,A,80
3,20190701000012,L0001,95,88,87,94,1,1,1,1,A,A,96
4,20190701000016,L0001,94,73,90,90,1,1,1,1,A,A,84
5,20190701000020,L0001,92,84,98,79,1,1,1,1,A,A,85
6,20190701000024,L0001,83,73,89,80,1,1,1,1,A,B,95
7,20190701000028,L0001,88,88,94,79,1,1,1,1,A,A,95
8,20190701000032,L0001,72,90,86,77,1,1,1,1,A,A,89
9,20190701000036,L0001,96,100,78,88,1,1,1,1,A,A,83
10,20190701000040,L0001,95,97,79,83,1,1,1,1,A,A,93
11,20190701000044,L0001,92,100,87,93,1,1,1,1,A,B,82
12,20190701000048,L0001,85,100,80,73,1,1,1,1,A,A,100
13,20190701000052,L0001,96,83,72,86,1,1,1,1,A,A,51
14,20190701000056,L0001,87,88,88,73,1,1,1,1,A,B,86
15,20190701000100,L0001,92,75,70,94,1,1,1,1,B,A,91
16,20190701000104,L0001,90,83,84,76,1,1,1,1,A,A,55
17,20190701000108,L0001,94,87,84,76,1,1,1,1,A,A,81
18,20190701000112,L0001,98,89,98,100,1,1,1,1,A,B,92
19,20190701000116,L0001,70,83,90,98,1,1,1,1,B,A,54
20,20190701000120,L0001,83,87,97,72,1,1,1,1,A,A,88
21,20190701000124,L0001,84,80,70,97,1,1,1,1,A,A,93
22,20190701000128,L0001,84,82,94,72,1,1,1,1,A,A,92
23,20190701000132,L0001,86,85,84,83,1,1,1,1,A,A,95
24,20190701000136,L0001,89,88,99,92,1,1,1,1,A,A,90
25,20190701000140,L0001,87,90,87,90,1,1,1,1,A,A,90
26,20190701000144,L0001,95,94,82,71,1,1,1,1,A,B,87
27,20190701000148,L0001,92,98,90,93,1,1,1,1,B,A,97
28,20190701000152,L0001,83,90,74,92,1,1,1,1,B,B,81
29,20190701000156,L0001,93,87,88,78,1,1,1,1,B,B,98
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13393179,20190731235804,P0020,91,94,90,100,1,1,1,1,A,A,92
13393180,20190731235808,P0020,95,93,83,91,1,1,1,1,A,A,100
13393181,20190731235812,P0020,88,92,91,94,1,1,1,1,A,B,94
13393182,20190731235816,P0020,99,84,72,80,1,1,1,1,B,B,80
13393183,20190731235820,P0020,82,90,97,72,1,1,1,1,A,A,85
13393184,20190731235824,P0020,77,86,93,91,1,1,1,1,A,A,97
13393185,20190731235828,P0020,88,88,98,74,1,1,1,1,A,A,93
13393186,20190731235832,P0020,86,83,99,87,1,1,1,1,A,A,81
13393187,20190731235836,P0020,86,77,94,95,1,1,1,1,A,A,89
13393188,20190731235840,P0020,96,97,91,77,1,1,1,1,A,A,82
13393189,20190731235844,P0020,91,81,94,97,1,1,1,1,A,A,85
13393190,20190731235848,P0020,73,93,96,99,1,1,1,1,A,A,90
13393191,20190731235852,P0020,98,98,71,85,1,1,1,1,B,A,86
13393192,20190731235856,P0020,81,80,75,93,1,1,1,1,A,A,94
13393193,20190731235900,P0020,74,85,81,96,1,1,1,1,A,A,88
13393194,20190731235904,P0020,94,88,100,83,1,1,1,1,A,A,95
13393195,20190731235908,P0020,75,98,86,99,1,1,1,1,B,A,97
13393196,20190731235912,P0020,88,89,92,86,1,1,1,1,A,A,96
13393197,20190731235916,P0020,88,91,77,99,1,1,1,1,A,A,55
13393198,20190731235920,P0020,74,76,93,85,1,1,1,1,A,A,98
13393199,20190731235924,P0020,74,71,97,99,1,1,1,1,A,A,97
13393200,20190731235928,P0020,96,100,90,70,1,1,1,1,A,B,95
13393201,20190731235932,P0020,73,91,100,70,1,1,1,1,B,A,84
13393202,20190731235936,P0020,79,85,89,91,1,1,1,1,A,A,81
13393203,20190731235940,P0020,85,87,73,80,1,1,1,1,A,A,79
13393204,20190731235944,P0020,87,71,89,91,1,1,1,1,A,A,88
13393205,20190731235948,P0020,84,85,73,90,1,1,1,1,A,A,96
13393206,20190731235952,P0020,73,92,81,97,1,1,1,1,A,A,99
13393207,20190731235956,P0020,84,86,78,97,1,1,1,1,A,A,86
13393208,20190731240000,P0020,86,83,94,92,1,1,1,1,A,A,93

In [17]:
gr_1 = res_df.groupby(res_df['CarNum']).size()
gr_1

CarNum
A0001    21601
A0002    21601
A0004    21601
A0005    21601
A0006    64803
A0007    64803
A0008    43202
A0009    43202
A0010    21601
A0011    21601
A0012    86404
A0013    64803
A0014    21601
A0015    21601
A0016    43202
A0018    21601
A0019    43202
A0020    21601
B0001    21601
B0002    21601
B0003    21601
B0004    21601
B0005    43202
B0006    64803
B0007    21601
B0008    64803
B0009    43202
B0011    21601
B0012    21601
B0016    21601
         ...
Y0001    64803
Y0002    43202
Y0003    43202
Y0005    21601
Y0006    21601
Y0008    64803
Y0009    64803
Y0010    21601
Y0011    21601
Y0012    86404
Y0013    21601
Y0015    43202
Y0017    21601
Y0018    21601
Y0019    43202
Y0020    21601
Z0001    43202
Z0002    21601
Z0004    21601
Z0006    21601
Z0008    21601
Z0009    43202
Z0010    64803
Z0011    21601
Z0013    21601
Z0014    86404
Z0015    43202
Z0016    21601
Z0018    21601
Z0019    21601
Length: 361, dtype: int64

In [7]:
df_master = pd.read_csv('./smartcarlog/CarMaster.txt',sep="|")
df_master

      A0001  여  32  미혼  서울  프리랜서  1000  2009  F
0     A0002  남  53  미혼  충남    주부  2500  2015  A
1     A0003  여  62  기혼  대전   회사원  2500  2012  B
2     A0004  남  31  미혼  광주   공무원  2000  2010  D
3     A0005  남  67  미혼  대구   공무원  1700  2002  C
4     A0006  여  30  미혼  인천   전문직  2000  2016  D
5     A0007  남  61  미혼  전남  개인사업  1700  2003  E
6     A0008  여  20  미혼  충북  개인사업  1500  2013  G
7     A0009  여  60  미혼  경남  프리랜서  3500  2015  D
8     A0010  여  69  미혼  제주  개인사업  1200  2003  A
9     A0011  남  29  기혼  충남    주부  1000  2008  G
10    A0012  여  53  미혼  세종    학생  2500  2006  E
11    A0013  여  43  미혼  인천   전문직  1500  2016  E
12    A0014  남  63  미혼  대구   공무원  1500  2006  C
13    A0015  남  45  미혼  충남  프리랜서  1700  2012  F
14    A0016  여  17  미혼  강원   회사원  2000  2001  G
15    A0017  남  48  미혼  충북  프리랜서  1000  2010  B
16    A0018  여  70  기혼  경북  개인사업  2000  2004  H
17    A0019  남  32  기혼  인천    주부  1700  2004  C
18    A0020  남  65  기혼  대구    주부  3500  2009  F
19    A0021  여  22  기혼  대구   전문직  2000  2001  A
20    A0022  여  65  미혼  강원   회사원  1500  2000  E
21    A0023  남  15  미혼  인천   전문직  1700  2014  C
22    A0024  여  35  미혼  울산   전문직  1200  2000  A
23    A0025  여  36  미혼  세종    주부  1700  2014  H
24    A0026  남  42  기혼  대전  프리랜서  2500  2002  F
25    A0027  여  53  기혼  경남   공무원  1700  2014  G
26    A0028  남  61  기혼  강원   전문직  1700  2002  E
27    A0029  여  60  미혼  충남  프리랜서  1000  2000  B
28    A0030  남  69  기혼  제주    주부  1200  2003  H
29    A0031  여  29  기혼  전북    주부  1700  2012  G
...     ... ..  ..  ..  ..   ...   ...   ... ..
2569  Z0071  남  64  기혼  전북  개인사업  3500  2010  E
2570  Z0072  여  62  미혼  세종    학생  1200  2016  H
2571  Z0073  남  66  기혼  경기    학생  3000  2005  G
2572  Z0074  남  47  미혼  울산   전문직  1000  2004  F
2573  Z0075  여  69  미혼  인천   공무원  1000  2013  G
2574  Z0076  남  48  기혼  대구    학생  3500  2008  G
2575  Z0077  여  18  기혼  경북   공무원  2000  2008  E
2576  Z0078  여  38  미혼  전북  개인사업  3500  2016  E
2577  Z0079  여  55  기혼  서울   공무원  3500  2011  A
2578  Z0080  남  43  기혼  경남   전문직  1000  2002  C
2579  Z0081  남  35  미혼  부산    학생  3000  2001  A
2580  Z0082  여  66  미혼  전남    주부  1500  2006  C
2581  Z0083  남  15  기혼  충남   전문직  1700  2000  C
2582  Z0084  여  43  기혼  제주   회사원  1000  2013  A
2583  Z0085  여  33  미혼  세종    학생  2500  2016  E
2584  Z0086  남  49  미혼  대전   공무원  1000  2016  F
2585  Z0087  남  70  기혼  대구   공무원  1500  2015  A
2586  Z0088  여  41  기혼  울산   전문직  1200  2006  E
2587  Z0089  남  31  미혼  부산  개인사업  3500  2001  C
2588  Z0090  여  70  미혼  경남  개인사업  1700  2000  D
2589  Z0091  남  27  기혼  경남   회사원  2000  2000  A
2590  Z0092  남  33  미혼  강원   회사원  1500  2000  E
2591  Z0093  남  50  미혼  서울  개인사업  3500  2009  E
2592  Z0094  여  60  미혼  제주   공무원  1700  2012  G
2593  Z0095  여  15  미혼  대구   공무원  1700  2014  A
2594  Z0096  남  46  미혼  강원  프리랜서  3000  2006  E
2595  Z0097  남  27  기혼  대구    주부  2500  2002  C
2596  Z0098  여  49  기혼  경북    학생  3000  2002  H
2597  Z0099  남  70  미혼  경기  프리랜서  3000  2005  A
2598  Z0100  남  56  기혼  세종   전문직  3500  2004  C

[2599 rows x 9 columns]

In [8]:
df_buy = pd.read_csv('./smartcarlog/CarItemBuyList_201606.txt')
df_buy

       M0014  Item-018  2  201606
0      G0035  Item-015  3  201606
1      I0090  Item-009  3  201606
2      K0095  Item-018  5  201606
3      Y0042  Item-020  2  201606
4      W0023  Item-030  2  201606
5      Y0036  Item-023  3  201606
6      T0026  Item-028  1  201606
7      Q0044  Item-008  1  201606
8      Q0056  Item-014  5  201606
9      N0095  Item-002  5  201606
10     M0051  Item-030  2  201606
11     D0021  Item-005  2  201606
12     B0084  Item-002  3  201606
13     I0085  Item-021  5  201606
14     L0066  Item-029  2  201606
15     T0082  Item-015  4  201606
16     Q0054  Item-027  5  201606
17     P0052  Item-011  2  201606
18     Y0086  Item-013  1  201606
19     T0060  Item-010  2  201606
20     X0016  Item-025  4  201606
21     P0004  Item-016  2  201606
22     X0037  Item-013  4  201606
23     O0083  Item-026  1  201606
24     P0008  Item-025  1  201606
25     Y0024  Item-019  4  201606
26     A0032  Item-005  4  201606
27     L0043  Item-028  4  201606
28     Y0040  Item-009  5  201606
29     U0009  Item-018  1  201606
...      ...       ... ..     ...
99969  U0016  Item-007  5  201606
99970  Q0016  Item-006  4  201606
99971  F0039  Item-014  2  201606
99972  E0074  Item-008  4  201606
99973  U0044  Item-011  5  201606
99974  S0031  Item-022  3  201606
99975  C0017  Item-026  3  201606
99976  A0027  Item-025  5  201606
99977  D0046  Item-024  2  201606
99978  J0044  Item-006  3  201606
99979  Q0017  Item-030  3  201606
99980  C0057  Item-023  2  201606
99981  K0003  Item-030  1  201606
99982  A0070  Item-011  3  201606
99983  A0063  Item-004  3  201606
99984  J0078  Item-008  4  201606
99985  A0069  Item-029  3  201606
99986  U0082  Item-006  1  201606
99987  S0028  Item-019  1  201606
99988  D0027  Item-019  2  201606
99989  B0064  Item-011  5  201606
99990  B0059  Item-007  4  201606
99991  G0070  Item-022  1  201606
99992  Y0004  Item-013  1  201606
99993  E0056  Item-010  1  201606
99994  I0027  Item-009  2  201606
99995  M0057  Item-016  5  201606
99996  N0022  Item-015  2  201606
99997  H0057  Item-019  3  201606
99998  X0036  Item-008  1  201606

[99999 rows x 4 columns]