In [83]:
import pandas as pd

import datetime

toy_dict = {datetime.datetime(2019,6,7,15,30) : 50, datetime.datetime(2019,6,7,18,30) : 30, datetime.datetime(2019,6,8,11,30) : 20, datetime.datetime(2019,6,8,19,30) : 80, datetime.datetime(2019,6,9,17,30) : 80,datetime.datetime(2019,6,9,19,30) : 80}
toy_df = pd.DataFrame(toy_dict, index = ['Cars']).T
toy_df['tmp_index'] = toy_df.index
toy_df['tmp_index'] = toy_df['tmp_index'].astype('str')
toy_df

                     Cars            tmp_index
2019-06-07 15:30:00    50  2019-06-07 15:30:00
2019-06-07 18:30:00    30  2019-06-07 18:30:00
2019-06-08 11:30:00    20  2019-06-08 11:30:00
2019-06-08 19:30:00    80  2019-06-08 19:30:00
2019-06-09 17:30:00    80  2019-06-09 17:30:00
2019-06-09 19:30:00    80  2019-06-09 19:30:00

In [84]:
resampled_df = pd.DataFrame(toy_df['Cars'].resample('D').min())
resampled_df.head()

            Cars
2019-06-07    30
2019-06-08    20
2019-06-09    80

In [85]:
resampled_df.merge(toy_df, on='Cars', left_index=True)

                     Cars            tmp_index
2019-06-07 18:30:00    30  2019-06-07 18:30:00
2019-06-08 11:30:00    20  2019-06-08 11:30:00
2019-06-08 19:30:00    80  2019-06-08 19:30:00
2019-06-09 17:30:00    80  2019-06-09 17:30:00
2019-06-09 19:30:00    80  2019-06-09 19:30:00

In [86]:
toy_df

                     Cars            tmp_index
2019-06-07 15:30:00    50  2019-06-07 15:30:00
2019-06-07 18:30:00    30  2019-06-07 18:30:00
2019-06-08 11:30:00    20  2019-06-08 11:30:00
2019-06-08 19:30:00    80  2019-06-08 19:30:00
2019-06-09 17:30:00    80  2019-06-09 17:30:00
2019-06-09 19:30:00    80  2019-06-09 19:30:00