In [3]:
import pandas as pd
import numpy as np

In [7]:
X = (np.arange(9, dtype=np.float) - 3).reshape(-1, 1)  # -3부터 5까지의 분포
X = np.vstack([X, [100]])  # 아웃라이어(outlier) 값을 추가
pd.DataFrame(X).describe()

                0
count   10.000000
mean    10.900000
std     31.412842
min     -3.000000
25%     -0.750000
50%      1.500000
75%      3.750000
max    100.000000

In [8]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit_transform(X)
# X_scaled = scaler.transform(X)
# np.mean(X_scaled), np.std(X_scaled)

array([[-0.46642982],
       [-0.43287372],
       [-0.39931762],
       [-0.36576152],
       [-0.33220541],
       [-0.29864931],
       [-0.26509321],
       [-0.23153711],
       [-0.197981  ],
       [ 2.98984872]])

In [9]:
Y = (np.arange(9, dtype=np.float) - 3).reshape(-1, 1)  # -3부터 5까지의 분포
Y = np.vstack([Y, [100]])  # 아웃라이어(outlier) 값을 추가
pd.DataFrame(Y).describe()

                0
count   10.000000
mean    10.900000
std     31.412842
min     -3.000000
25%     -0.750000
50%      1.500000
75%      3.750000
max    100.000000

In [10]:
scaler.transform(X)

array([[-0.46642982],
       [-0.43287372],
       [-0.39931762],
       [-0.36576152],
       [-0.33220541],
       [-0.29864931],
       [-0.26509321],
       [-0.23153711],
       [-0.197981  ],
       [ 2.98984872]])