In [2]:
import pandas as pd

In [4]:
from sklearn.preprocessing import MinMaxScaler

In [41]:
# df 생성

# 같은 길이의 리스트에 담긴 dict 형태를 이용
data = {'state' : ['Ohio','Ohio','Ohio','Nevada','Nevada'],
       'year' : [10,30,50,70,90],
       'pop' : [1,3,5,7,9]}
frame = pd.DataFrame(data)

frame

    state  year  pop
0    Ohio    10    1
1    Ohio    30    3
2    Ohio    50    5
3  Nevada    70    7
4  Nevada    90    9

In [62]:
frame

    state  year  pop  testing
0    Ohio    10    1        1
1    Ohio    30    3        2
2    Ohio    50    5        3
3  Nevada    70    7        4
4  Nevada    90    9        5

In [56]:
aa

array([[0.  , 0.  , 0.  ],
       [0.25, 0.25, 0.25],
       [0.5 , 0.5 , 0.5 ],
       [0.75, 0.75, 0.75],
       [1.  , 1.  , 1.  ]])

In [61]:
cc

array([[8.10e+02, 9.00e+00, 5.00e+00],
       [2.41e+03, 2.50e+01, 9.00e+00],
       [4.01e+03, 4.10e+01, 1.30e+01],
       [5.61e+03, 5.70e+01, 1.70e+01],
       [7.21e+03, 7.30e+01, 2.10e+01]])

In [42]:
data2 = {'state2' : ['Ohio','Ohio','Ohio','Nevada','Nevada'],
       'year2' : [10,20,30,40,50],
       'pop2' : [1,2,3,4,5]}
frame2 = pd.DataFrame(data2)

frame2

   state2  year2  pop2
0    Ohio     10     1
1    Ohio     20     2
2    Ohio     30     3
3  Nevada     40     4
4  Nevada     50     5

In [57]:
bb

array([[0.  , 0.  ],
       [0.25, 0.25],
       [0.5 , 0.5 ],
       [0.75, 0.75],
       [1.  , 1.  ]])

In [53]:
scaler = MinMaxScaler()

In [55]:
aa = scaler.fit_transform(frame[['year','pop','testing']])

C:\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [54]:
bb = scaler.fit_transform(frame2[['year2','pop2']])

C:\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [52]:
frame['testing'] = frame2['pop2']

In [60]:
cc = scaler.inverse_transform(frame[['year','pop','testing']])