In [43]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

In [61]:
dat = sns.load_dataset('iris')

In [69]:
dat

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [70]:
dat.query("(index==0) or (index==3) or (index==5)")

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa

In [57]:
a = np.arange(10); var = a[[1,3,5,7,9]]
var

array([1, 3, 5, 7, 9])

In [58]:
var = np.arange(1,10,2)
var

array([1, 3, 5, 7, 9])

In [59]:
a = np.arange(11,0,-2)[1:]; var = a[-1::-1]
var

array([1, 3, 5, 7, 9])

In [60]:
a = np.arange(0,11,2); var = a+1
var

array([ 1,  3,  5,  7,  9, 11])