In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('funda_train.csv')

In [8]:
df['type_of_business'].nunique()

145

In [7]:
print(df.groupby(df['type_of_business']).size().sort_values(ascending=False))

type_of_business
한식 음식점업                         745905
두발 미용업                          178475
의복 소매업                          158234
기타 주점업                          102413
치킨 전문점                           89277
일식 음식점업                          77649
서양식 음식점업                         74577
간이음식 포장 판매 전문점                   74130
비알코올 음료점업                        72720
피자, 햄버거, 샌드위치 및 유사 음식점업          49586
육류 소매업                           35186
기타 미용업                           32697
안경 및 렌즈 소매업                      31023
애완용 동물 및 관련용품 소매업                30725
김밥 및 기타 간이 음식점업                  30482
그 외 기타 분류 안된 상품 전문 소매업           30172
전자상거래 소매업                        30153
일반 교과 학원                         26745
화장품, 비누 및 방향제 소매업                24809
기타 스포츠 교육기관                      24768
당구장 운영업                          24486
중식 음식점업                          24282
기타 예술학원                          18244
화초 및 식물 소매업                      17516
가정용 세탁업                          17368
노래연습장 운영업                        16132
자동차 전문 수리업                       14528
운동 및 경기용품 소매업                    14432
신선, 냉동 및 기타 수산물 소매업              14091
기타 교습학원                          14067
                                 ...
그 외 기타 분류 안된 오락관련 서비스업            1771
사무용 기기 소매업                        1711
기타 기술 및 직업훈련학원                    1651
그 외 기타 건축자재 도매업                   1542
기록매체 복제업                          1383
그 외 기타 무점포 소매업                    1250
결혼 상담 및 준비 서비스업                   1241
기타 건물 관련설비 설치 공사업                 1177
기타 인문 및 사회과학 연구개발업                1157
마사지업                              1156
기타 산업용 농산물 도매업                    1153
예식장업                              1061
신선, 냉동 및 기타 수산물 도매업                990
귀금속 및 관련제품 제조업                     939
예술품 및 골동품 소매업                      933
문구용품 및 회화용품 소매업                    886
채소, 과실 및 뿌리작물 소매업                  813
모터사이클 및 부품 도매업                     727
기타 엔지니어링 서비스업                      708
의료용품 도매업                           677
경영 컨설팅업                            631
간판 및 광고물 제조업                       615
생활용 유리ㆍ요업ㆍ목재ㆍ금속 제품 및 날붙이 도매업       604
육류 도매업                             575
통신·방송장비 및 부품 도매업                   573
곡물 및 기타 식량작물 재배업                   569
주방용품 및 가정용 유리, 요업 제품 소매업           551
배전반 및 전기 자동제어반 제조업                 533
그 외 기타 생활용품 도매업                    519
신선식품 및 단순 가공식품 도매업                 231
Length: 145, dtype: int64

In [21]:
len(df.type_of_business)

6556613

In [17]:
df['type_of_business'].isnull().sum()

3952609

In [22]:
len(df.type_of_business) -df['type_of_business'].isnull().sum()

2604004

In [23]:
df['type_of_business'].count()

2604004

In [24]:
df.isnull().sum()

store_id                  0
card_id                   0
card_company              0
transacted_date           0
transacted_time           0
installment_term          0
region              2042766
type_of_business    3952609
amount                    0
dtype: int64