In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

In [2]:
train = pd.read_csv('C:/Users/KIHyuk/Desktop/dacon_data/Data_천체유형분류/train.csv',index_col=0)
test = pd.read_csv('C:/Users/KIHyuk/Desktop/dacon_data/Data_천체유형분류/test.csv',index_col=0)
sample_submission = pd.read_csv('C:/Users/KIHyuk/Desktop/dacon_data/Data_천체유형분류/sample_submission.csv',index_col=0)

In [3]:
column_number = {}
for i, column in enumerate(sample_submission.columns):
    column_number[column] = i
    
def to_number(x, dic):
    return dic[x]

train['type_num'] = train['type'].apply(lambda x: to_number(x, column_number))

train_x = train.drop(columns=['type', 'type_num'], axis=1)
train_y = train['type_num']
test_x = test

In [4]:
forest = RandomForestClassifier(n_estimators=100, n_jobs=-1)
forest.fit(train_x, train_y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=-1, oob_score=False, random_state=None, verbose=0,
                       warm_start=False)

In [86]:
s = test_x.iloc[0].values.reshape(1,-1)

In [87]:
y_pred = forest.predict_proba(s)

In [108]:
df_1 = pd.DataFrame(y_pred,columns=forest.classes_)
df_1

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,0.0,0.0,0.0,0.04,0.0,0.0,0.0,0.0,0.0,0.0,0.96,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [100]:
np.sort(y_pred[0][::-1])

array([0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.04, 0.96])

In [8]:
submission = pd.DataFrame(data=y_pred, columns=sample_submission.columns, index=sample_submission.index)
submission.to_csv('submission.csv', index=True)

In [9]:
submission.to_csv('guide_submit.csv')

In [18]:
submission

,STAR_WHITE_DWARF,STAR_CATY_VAR,STAR_BROWN_DWARF,SERENDIPITY_RED,REDDEN_STD,STAR_BHB,GALAXY,SERENDIPITY_DISTANT,QSO,SKY,STAR_RED_DWARF,ROSAT_D,STAR_PN,SERENDIPITY_FIRST,STAR_CARBON,SPECTROPHOTO_STD,STAR_SUB_DWARF,SERENDIPITY_MANUAL,SERENDIPITY_BLUE
id,,,,,,,,,,,,,,,,,,,
199991,0.00,0.00,0.0,0.07,0.0,0.0,0.00,0.00,0.00,0.0,0.93,0.00,0.0,0.00,0.0,0.00,0.0,0.0,0.00
199992,0.00,0.00,0.0,0.00,0.0,0.0,0.01,0.00,0.55,0.0,0.00,0.24,0.0,0.20,0.0,0.00,0.0,0.0,0.00
199993,0.00,0.00,0.0,0.00,0.0,0.0,0.97,0.00,0.00,0.0,0.00,0.03,0.0,0.00,0.0,0.00,0.0,0.0,0.00
199994,0.00,0.00,0.0,0.00,0.0,0.0,0.00,0.00,0.14,0.0,0.00,0.03,0.0,0.02,0.0,0.00,0.0,0.0,0.81
199995,0.00,0.00,0.0,0.00,0.0,0.0,0.00,0.00,0.00,0.0,1.00,0.00,0.0,0.00,0.0,0.00,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209995,0.04,0.02,0.0,0.00,0.0,0.0,0.00,0.01,0.06,0.0,0.00,0.10,0.0,0.01,0.0,0.00,0.0,0.0,0.76
209996,0.03,0.04,0.0,0.00,0.0,0.0,0.00,0.01,0.21,0.0,0.00,0.07,0.0,0.06,0.0,0.00,0.0,0.0,0.58
209997,0.00,0.00,0.0,0.00,0.0,0.0,0.00,0.00,0.98,0.0,0.00,0.01,0.0,0.01,0.0,0.00,0.0,0.0,0.00
209998,0.00,0.00,0.0,0.00,0.0,0.0,0.00,0.00,1.00,0.0,0.00,0.00,0.0,0.00,0.0,0.00,0.0,0.0,0.00
209999,0.00,0.00,0.0,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.01,0.0,0.00,0.0,0.99,0.0,0.0,0.00