[예제] 파이썬의 데이타 주무르기


## 서울시 자치구 인구대비 CCTV 현황

1. 서울시 자치구 연도별 CCTV 현황

    서울열린데이타 : https://data.seoul.go.kr 에서 cctv 검색하여 csv 파일 다운로드
    

2. 서울시 주민등록인구 (구별) 통계

    서울열린데이타 : https://data.seoul.go.kr > 인구 > XLS 파일 다운로드

## 1. 서울시 자치구 연도별 CCTV 현황

In [3]:
# 1. 데이타 살펴보기

import pandas as pd

""" 1. 서울시 자치구 연도별 CCTV 현황 """
cctvSeoul = pd.read_csv('./data/cctv_in_seoul.csv',encoding='utf-8')
cctvSeoul.head()
# (1) CCTV가 많은 순으로 정렬하여 상위 5위 



# (2) 2014~2016년 3년간 CCTV 증가율을 추가
#     3년동안의 증가율 = ( 2014년 + 2015년 + 2016년 ) / 2013년도 이전 * 100
#     3년간 증가율 높은 순으로 출력

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  3238       1292    430    584    932
1  강동구  1010        379     99    155    377
2  강북구   831        369    120    138    204
3  강서구   911        388    258    184     81
4  관악구  2109        846    260    390    613

In [16]:
cctvSeoul.sort_values(ascending=False,by='소계').iloc[:5]

    기관명    소계  2013년도 이전  2014년  2015년  2016년
0   강남구  3238       1292    430    584    932
18  양천구  2482       1843    142     30    467
14  서초구  2297       1406    157    336    398
4   관악구  2109        846    260    390    613
21  은평구  2108       1138    224    278    468

## 2. 서울시 주민등록인구 (구별) 통계

[ 파일읽기 ]  

popsSeoul = pd.read_excel('./dataset/pops_in_seoul.xls')

수정하고 데이타 정리

---
[ 출력결과 ]  popsSeoul.head(5)

<img src='images/그림1.PNG' width='80%' height='100'>

##  3. 두 데이타프레임을 합치고 분석

    (1) 두 데이타프레임의 행과 열의 수 확인
    
        > cctvSeoul.shape
        
        > popsSeoul.shape

    (2) 연결 ( mergy 함수  )
        먼저 합치고 필요한 컬럼을 추출하기보단
        각각 필요한 컬럼을 추리고 나서 합치는 것을 권장
        
        
---        
[ 출력결과 ]

<img src='images/그림2.PNG'>

## 4. 분석하기 

        외국인비율, 고령자비율, 인구수와 CCTV 수와 상관있나?

In [2]:
""" 4. 분석하기 
        외국인비율, 고령자비율, 인구수와 CCTV 수와 상관있나?
        
        상관계수로 확인 : numpy.corrcoef()
            0.1이하 상관없음
            0.3이하 약한 상관관계
            0.7이하 뚜렷한 상관관계
"""
import numpy as np

# print( np.corrcoef(result['소계'], result['외국인비율']) )
# print( np.corrcoef(result['소계'], result['고령자비율']) )
# print( np.corrcoef(result['소계'], result['인구수']) )

## 5. 시각화로 분석을 보여주기

## 추가적으로 분석을 하여 결과 도출