In [1]:
import numpy as np 
import pandas as pd
import scipy as sp
from scipy import stats

import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

%matplotlib inline

In [2]:
%precision 3

'%.3f'

#### 분할표 검정(카이제곱 검정)

In [5]:
click_data = pd.read_csv('C:/Users/KIHyuk/Desktop/파이썬으로 배우는 통계학 교과서 예제소스/3-10-1-click_data.csv')

In [6]:
click_data

  color  click  freq
0  blue  click    20
1  blue    not   230
2   red  click    10
3   red    not    40

In [7]:
# 분할표로 변환
cross = pd.pivot_table(
    data = click_data,
    values = 'freq',
    aggfunc = 'sum',
    index = 'color',
    columns = 'click'
)

cross

click  click  not
color
blue      20  230
red       10   40

In [8]:
# 검정
# sp.stats.chi2_contingency 함수사용
# 파라미터로 보정 여부를 지정하지 않으면 불필요한 보정이 들어가기 때문에 correction=False로 지정

sp.stats.chi2_contingency(cross, correction=False)
# 카이제곱통계량, p값, 자유도, 기대도수 출력

(6.666666666666666, 0.009823274507519247, 1, array([[ 25., 225.],
        [  5.,  45.]]))