## 누락값 : NaN


### * 누락값이 생기는 이유
    1- 데이타 자체적으로 존재
    2- 데이타 연결하면서
    3- 데이타 입력시
    4- 데이타 추출하여 연산할 때
    

### * 누락값 확인하기
    1- 누락값 인지 확인
        + df.isnull()
        + df.notnull()
    
    2- 누락값이 아닌 값의 개수 확인
        + df.sharp[0] - df.count()
        
    3- 누락값 수 확인 
        +  numpy 라이브러리의 count_nonzero() 이용


    

### * 누락값 처리하기
     (1) 누락값 삭제하기 : dropna()
     (2) 누락값을 다른 값으로 대치하기 : fillna()

In [4]:
# 누락값 비교 방법 : pandas 메소드 이용  * Nan==Nan  => False

import pandas as pd

print(pd.isnull(NaN))

True

In [3]:
""" 누락값이 생기는 이유
    1- 데이타 자체적으로 존재
    2- 데이타 연결하면서
    3- 데이타 입력시
    4- 데이타 추출하여 연산할 때
"""

import pandas as pd

survey = pd.read_csv('./data/survey_survey.csv')
# survey
visited = pd.read_csv('./data/survey_visited.csv')
# visited

### Countires.tsv 파일에서

1. 년도별 각 나라의 생활비의 평균을 구한다

2. 1번의 데이타 셋에서 2000년도에서 2010년 동안의 데이타 셋을 추출

3. 값이 있는 데이타만 출력한다면

In [7]:
countries = pd.read_csv('./data/countries.tsv', sep='\t')

In [10]:
countries.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [31]:
countries.head()

# (1) 년도별 각 나라의 생활비의 평균을 구한다
# countries.groupby(['year','country'])['gdpPercap'].mean()

expByYear = countries.groupby('year')['lifeExp'].mean()
expByYear.loc[2000:2010]
# (2) 2000~2010 동안의 데이타를 추출하고자 한다면
# countries[(countries['year'] >= 2000) & (countries['year'] <= 2010)]

# (3) 범위 지정으로 인해 NaN값이 생긴 경우 해결책 -> 해당 데이타만 추출하고자
# countries.isnull().sum()

year
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

## 누락값 처리하기


(0) 누락값 확인

(1) 누락값 삭제

(2) 누락값 대치

In [5]:
""" 누락값 확인 """
ebola = pd.read_csv('./data/ebola_timeseries.csv')
# 제일 먼저 데이타 확인

# 누락값이 아닌 값의 개수 확인


# 누락값의 수 구하기


# 전체적인 누락값의 수를 얻으려면 - numpy 라이브러리의 count_nonzero() 이용

In [6]:
""" (1) 누락값 삭제하기 """

' (1) 누락값 삭제하기 '

In [7]:
""" (2) 누락값 대치하기 """

' (2) 누락값 대치하기 '

그럼 누락값 처리로 Data Cleaning 후 데이터 처리(Data Process)를 진행한다면?