## 누락값 : NaN


### * 누락값이 생기는 이유
    1- 데이타 자체적으로 존재
    2- 데이타 연결하면서
    3- 데이타 입력시
    4- 데이타 추출하여 연산할 때
    

### * 누락값 확인하기
    1- 누락값 인지 확인
        + df.isnull()
        + df.notnull()
    
    2- 누락값이 아닌 값의 개수 확인
        + df.sharp[0] - df.count()
        
    3- 누락값 수 확인 
        +  numpy 라이브러리의 count_nonzero() 이용


    

### * 누락값 처리하기
     (1) 누락값 삭제하기 : dropna()
     (2) 누락값을 다른 값으로 대치하기 : fillna()

In [4]:
# 누락값 비교 방법 : pandas 메소드 이용  * Nan==Nan  => False

import pandas as pd

print(pd.isnull(NaN))

True

In [3]:
""" 누락값이 생기는 이유
    1- 데이타 자체적으로 존재
    2- 데이타 연결하면서
    3- 데이타 입력시
    4- 데이타 추출하여 연산할 때
"""

import pandas as pd

survey = pd.read_csv('./data/survey_survey.csv')
# survey
visited = pd.read_csv('./data/survey_visited.csv')
# visited

### Countires.tsv 파일에서

1. 년도별 각 나라의 생활비의 평균을 구한다

2. 1번의 데이타 셋에서 2000년도에서 2010년 동안의 데이타 셋을 추출

3. 값이 있는 데이타만 출력한다면

In [7]:
countries = pd.read_csv('./data/countries.tsv', sep='\t')

In [10]:
countries.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [18]:
countries.head()

# (1) 년도별 각 나라의 생활비의 평균을 구한다
countries.groupby(['year','country'])['gdpPercap'].mean()

# (2) 2000~2010 동안의 데이타를 추출하고자 한다면
# countries[(countries['year'] >= 2000) & (countries['year'] <= 2010)]

# (3) 범위 지정으로 인해 NaN값이 생긴 경우 해결책 -> 해당 데이타만 추출하고자
# countries.isnull().sum()

year  country
1952  Afghanistan                   779.445314
      Albania                      1601.056136
      Algeria                      2449.008185
      Angola                       3520.610273
      Argentina                    5911.315053
      Australia                   10039.595640
      Austria                      6137.076492
      Bahrain                      9867.084765
      Bangladesh                    684.244172
      Belgium                      8343.105127
      Benin                        1062.752200
      Bolivia                      2677.326347
      Bosnia and Herzegovina        973.533195
      Botswana                      851.241141
      Brazil                       2108.944355
      Bulgaria                     2444.286648
      Burkina Faso                  543.255241
      Burundi                       339.296459
      Cambodia                      368.469286
      Cameroon                     1172.667655
      Canada                      11367.161120
      Central African Republic     1071.310713
      Chad                         1178.665927
      Chile                        3939.978789
      China                         400.448611
      Colombia                     2144.115096
      Comoros                      1102.990936
      Congo, Dem. Rep.              780.542326
      Congo, Rep.                  2125.621418
      Costa Rica                   2627.009471
                                      ...
2007  Sierra Leone                  862.540756
      Singapore                   47143.179640
      Slovak Republic             18678.314350
      Slovenia                    25768.257590
      Somalia                       926.141068
      South Africa                 9269.657808
      Spain                       28821.063700
      Sri Lanka                    3970.095407
      Sudan                        2602.394995
      Swaziland                    4513.480643
      Sweden                      33859.748350
      Switzerland                 37506.419070
      Syria                        4184.548089
      Taiwan                      28718.276840
      Tanzania                     1107.482182
      Thailand                     7458.396327
      Togo                          882.969944
      Trinidad and Tobago         18008.509240
      Tunisia                      7092.923025
      Turkey                       8458.276384
      Uganda                       1056.380121
      United Kingdom              33203.261280
      United States               42951.653090
      Uruguay                     10611.462990
      Venezuela                   11415.805690
      Vietnam                      2441.576404
      West Bank and Gaza           3025.349798
      Yemen, Rep.                  2280.769906
      Zambia                       1271.211593
      Zimbabwe                      469.709298
Name: gdpPercap, Length: 1704, dtype: float64

## 누락값 처리하기


(0) 누락값 확인

(1) 누락값 삭제

(2) 누락값 대치

In [5]:
""" 누락값 확인 """
ebola = pd.read_csv('./data/ebola_timeseries.csv')
# 제일 먼저 데이타 확인

# 누락값이 아닌 값의 개수 확인


# 누락값의 수 구하기


# 전체적인 누락값의 수를 얻으려면 - numpy 라이브러리의 count_nonzero() 이용

In [6]:
""" (1) 누락값 삭제하기 """

' (1) 누락값 삭제하기 '

In [7]:
""" (2) 누락값 대치하기 """

' (2) 누락값 대치하기 '

그럼 누락값 처리로 Data Cleaning 후 데이터 처리(Data Process)를 진행한다면?