In [1]:
import sqlite3

"""
    [ 실행한 후에 SQLite Expert Person 에서 확인 ] 
    
    - 메뉴 > File > Open  Database 에서  db폴더 안에 testDB.db 연결
    - 탭팬들 확인 (Database / Data / DDL / Design / SQL )
    - SQL탭에서 select 문장 확인
    
    
    [ 절차 ]
        1. 데이타베이스 Connection 생성
        2. 커서 생성 ( 커서 : sql 명령어를 실행시켜 주는 객체 )
        3. sql 문장 만들기
        4. sql 문장 실행
        5. 커밋 ( 트랜젝션의 내용을 DB에 반영함 )
        6. Connection 닫기
    
"""

'\n    [ 실행한 후에 SQLite Expert Person 에서 확인 ] \n    \n    - 메뉴 > File > Open  Database 에서  db폴더 안에 testDB.db 연결\n    - 탭팬들 확인 (Database / Data / DDL / Design / SQL )\n    - SQL탭에서 select 문장 확인\n    \n    \n    [ 절차 ]\n        1. 데이타베이스 Connection 생성\n        2. 커서 생성 ( 커서 : sql 명령어를 실행시켜 주는 객체 )\n        3. sql 문장 만들기\n        4. sql 문장 실행\n        5. 커밋 ( 트랜젝션의 내용을 DB에 반영함 )\n        6. Connection 닫기\n    \n'

In [27]:
def viewTable(db, table):
    conn=sqlite3.connect(db)
    cur = conn.cursor()
    sql = 'select * from person2'
    
    cur.execute(sql)
    
    rows = cur.fetchall()
    for row in rows:
        print(row)
    
    conn.close()


def saveTest(db):
    conn=sqlite3.connect(db)
    cur = conn.cursor()
    sql = '''INSERT INTO person2(name,age) VALUES(?,?)'''
    
    cur.execute(sql,('홍길동',25)) # sql문장 실행 #입력값은 tuple형식으로
    conn.commit()
    conn.close()
    

def saveTable(db, data):
    pass

def createTable(db):
    conn = sqlite3.connect(db) # 커넥션
    cur = conn.cursor() # 커서새성
    
    # sql 문장
    sql = 'CREATE TABLE if not exists person2(id integer primary key autoincrement, name text not null, age integer)'
    cur.execute(sql) # sql문장 실행
    conn.commit()
    conn.close()



# (1) DB에 테이블 생성
createTable('testdb.db')

# (2) DB에 테이블 입력
saveTest('testdb.db');  # 데이타 입력 확인만

# (3) DB에 저장되어 있는 테이블값 출력
viewTable('testdb.db', 'person2')

(1, '홍길동', 25)
(2, '홍길동', 25)
(3, '홍길동', 25)
(4, '홍길동', 25)
(5, '홍길동', 25)
(6, '홍길동', 25)
(7, '홍길동', 25)
(8, '홍길동', 25)