## 로지스틱 회귀 병원 개/폐업 여부 예측

In [1]:
import pandas as pd
import numpy as np 
import scipy as sp
from scipy import stats
import statsmodels.formula.api as smf
import statsmodels.api as sm

import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

import missingno as msno

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline
%precision 3

'%.3f'

In [2]:
# data set

train = pd.read_csv('C:/Users/KIHyuk/Desktop/dacon_data/Data_병원개폐업/train.csv')
test = pd.read_csv('C:/Users/KIHyuk/Desktop/dacon_data/Data_병원개폐업/test.csv')
submission = pd.read_csv('C:/Users/KIHyuk/Desktop/dacon_data/Data_병원개폐업/submission_sample.csv')

In [3]:
train.head()

,inst_id,OC,sido,sgg,openDate,bedCount,instkind,revenue1,salescost1,sga1,...,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,ownerChange
0,1,open,choongnam,73,20071228,175.0,nursing_hospital,4.217530e+09,0.0,3.961135e+09,...,7.589937e+08,2.228769e+08,0.000000e+00,5.361169e+08,3.900000e+08,2.619290e+09,1.271224e+09,62.0,64.0,same
1,3,open,gyeongnam,32,19970401,410.0,general_hospital,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,801.0,813.0,same
2,4,open,gyeonggi,89,20161228,468.0,nursing_hospital,1.004522e+09,515483669.0,4.472197e+08,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,234.0,1.0,same
3,7,open,incheon,141,20000814,353.0,general_hospital,7.250734e+10,0.0,7.067740e+10,...,3.775501e+10,1.701860e+10,9.219427e+09,2.073641e+10,1.510000e+10,1.295427e+10,7.740829e+09,663.0,663.0,same
4,9,open,gyeongnam,32,20050901,196.0,general_hospital,4.904354e+10,0.0,4.765605e+10,...,5.143259e+10,3.007259e+10,1.759375e+10,2.136001e+10,1.410803e+10,5.561941e+06,9.025550e+09,206.0,197.0,same

In [4]:
## fisrt preprocessing

# delete missing value
train_copy = train.dropna()

In [5]:
# 파생변수 추가

train_copy['매출액_증감액'] = train_copy['revenue1'] - train_copy['revenue2']
train_copy['매출원가_증감액'] = train_copy['salescost1'] - train_copy['salescost2']
train_copy['판매비관리비_증감액'] = train_copy['sga1'] - train_copy['sga2']
train_copy['급여_증감액'] = train_copy['salary1'] - train_copy['salary2']
train_copy['영업외수익_증감액'] = train_copy['noi1'] - train_copy['noi2']
train_copy['영업외비용_증감액'] = train_copy['noe1'] - train_copy['noe2']
train_copy['이자비용_증감액'] = train_copy['interest1'] - train_copy['interest2']
train_copy['법인세비용_증감액'] = train_copy['ctax1'] - train_copy['ctax2']
train_copy['당기순이익_증감액'] = train_copy['profit1'] - train_copy['profit2']
train_copy['유동자산_증감액'] = train_copy['liquidAsset1'] - train_copy['liquidAsset2']
train_copy['당좌자산_증감액'] = train_copy['quickAsset1'] - train_copy['quickAsset2']
train_copy['미수금_증감액'] = train_copy['receivableS1'] - train_copy['receivableS2']
train_copy['재고자산_증감액'] = train_copy['inventoryAsset1'] - train_copy['inventoryAsset2']
train_copy['비유동자산_증감액'] = train_copy['nonCAsset1'] - train_copy['nonCAsset2']
train_copy['유형자산_증감액'] = train_copy['tanAsset1'] - train_copy['tanAsset2']
train_copy['기타비유동자산_증감액'] = train_copy['OnonCAsset1'] - train_copy['OnonCAsset2']
train_copy['장기미수금_증감액'] = train_copy['receivableL1'] - train_copy['receivableL2']
train_copy['부채총계_증감액'] = train_copy['debt1'] - train_copy['debt2']
train_copy['유동부채_증감액'] = train_copy['liquidLiabilities1'] - train_copy['liquidLiabilities2']
train_copy['단기차입금_증감액'] = train_copy['shortLoan1'] - train_copy['shortLoan2']
train_copy['비유동부채_증감액'] = train_copy['NCLiabilities1'] - train_copy['NCLiabilities2']
train_copy['장기차입금_증감액'] = train_copy['longLoan1'] - train_copy['longLoan2']
train_copy['순자산총계_증감액'] = train_copy['netAsset1'] - train_copy['netAsset2']
train_copy['이익잉여금_증감액'] = train_copy['surplus1'] - train_copy['surplus2']

In [6]:
# 사용하지 않는 columns delete

train_copy = train_copy.drop(['revenue1', 'salescost1', 'sga1',
       'salary1', 'noi1', 'noe1', 'interest1', 'ctax1', 'profit1',
       'liquidAsset1', 'quickAsset1', 'receivableS1', 'inventoryAsset1',
       'nonCAsset1', 'tanAsset1', 'OnonCAsset1', 'receivableL1', 'debt1',
       'liquidLiabilities1', 'shortLoan1', 'NCLiabilities1', 'longLoan1',
       'netAsset1', 'surplus1', 'revenue2', 'salescost2', 'sga2', 'salary2',
       'noi2', 'noe2', 'interest2', 'ctax2', 'profit2', 'liquidAsset2',
       'quickAsset2', 'receivableS2', 'inventoryAsset2', 'nonCAsset2',
       'tanAsset2', 'OnonCAsset2', 'receivableL2', 'debt2',
       'liquidLiabilities2', 'shortLoan2', 'NCLiabilities2', 'longLoan2',
       'netAsset2', 'surplus2'],axis=1)

# 비재무정보 제거
train_copy = train_copy.drop(['inst_id','openDate','employee1','employee2','sgg','sido','bedCount','instkind','ownerChange'],axis=1)

In [7]:
# columns check

train_copy.columns

Index(['OC', '매출액_증감액', '매출원가_증감액', '판매비관리비_증감액', '급여_증감액', '영업외수익_증감액',
       '영업외비용_증감액', '이자비용_증감액', '법인세비용_증감액', '당기순이익_증감액', '유동자산_증감액',
       '당좌자산_증감액', '미수금_증감액', '재고자산_증감액', '비유동자산_증감액', '유형자산_증감액',
       '기타비유동자산_증감액', '장기미수금_증감액', '부채총계_증감액', '유동부채_증감액', '단기차입금_증감액',
       '비유동부채_증감액', '장기차입금_증감액', '순자산총계_증감액', '이익잉여금_증감액'],
      dtype='object')

In [8]:
# 다중공선성 check

from patsy import dmatrices
from statsmodels.stats.outliers_influence import variance_inflation_factor

y, X = dmatrices('OC ~ 매출액_증감액 + 매출원가_증감액 + \
       영업외수익_증감액 + 영업외비용_증감액 + 이자비용_증감액 + 법인세비용_증감액 + 당기순이익_증감액 + \
       유동자산_증감액 + 미수금_증감액 + 재고자산_증감액 + 비유동자산_증감액 + \
       기타비유동자산_증감액 + 장기미수금_증감액 + 부채총계_증감액 + 단기차입금_증감액 + \
       + 장기차입금_증감액', train_copy, return_type = 'dataframe')

In [9]:
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif["features"] = X.columns 
vif.round(0).sort_values(by='VIF Factor',ascending=False)

    VIF Factor     features
1          4.0      매출액_증감액
4          4.0    영업외비용_증감액
11         3.0    비유동자산_증감액
14         3.0     부채총계_증감액
2          2.0     매출원가_증감액
3          2.0    영업외수익_증감액
7          2.0    당기순이익_증감액
8          2.0     유동자산_증감액
9          2.0      미수금_증감액
12         2.0  기타비유동자산_증감액
15         2.0    단기차입금_증감액
16         2.0    장기차입금_증감액
0          1.0    Intercept
5          1.0     이자비용_증감액
6          1.0    법인세비용_증감액
10         1.0     재고자산_증감액
13         NaN    장기미수금_증감액