In [88]:
import pandas as pd


import missingno as msno

from sklearn.preprocessing import OneHotEncoder,LabelEncoder
from sklearn.ensemble import RandomForestRegressor

In [31]:
train = pd.read_csv('C:/Users/KIHyuk/Desktop/dacon_data/Data_아파트실거래가/train.csv')
test = pd.read_csv('C:/Users/KIHyuk/Desktop/dacon_data/Data_아파트실거래가/test.csv')
park = pd.read_csv('C:/Users/KIHyuk/Desktop/dacon_data/Data_아파트실거래가/park.csv')
day_care_center = pd.read_csv('C:/Users/KIHyuk/Desktop/dacon_data/Data_아파트실거래가/day_care_center.csv')
submission = pd.read_csv('C:/Users/KIHyuk/Desktop/dacon_data/Data_아파트실거래가/submission.csv')

In [32]:
train.shape

(1216553, 13)

In [35]:
train.isnull().sum()

transaction_id            0
apartment_id              0
city                      0
dong                      0
jibun                     0
apt                       0
addr_kr                   0
exclusive_use_area        0
year_of_completion        0
transaction_year_month    0
transaction_date          0
floor                     0
transaction_real_price    0
dtype: int64

In [43]:
train.groupby('city')['transaction_real_price'].agg(['sum','mean','std','min','max'])

               sum          mean           std  min     max
city
부산광역시  10008025084  21102.045856  14032.400080  100  412787
서울특별시  36497989640  49169.779317  33868.323394  350  820000

In [44]:
train_seoul = train.query("city == '서울특별시'")
train_busan = train.query("city == '부산광역시'")

In [53]:
train_seoul.groupby('dong')['transaction_real_price'].agg(['sum','mean','std','min','max','count']).sort_values(by='mean',ascending=False)

              sum           mean            std     min     max  count
dong
장충동1가     4858000  269888.888889  156299.806100   18530  570000     18
압구정동    542141912  164534.722914   60204.131327   20000  430000   3295
청암동       9684222  161403.700000   31031.174487  100000  225000     60
용산동5가    30085477  153497.331633   49576.810239   80000  565000    196
회현동2가     7974650  139906.140351   26892.831203   94000  277000     57
...           ...            ...            ...     ...     ...    ...
영등포동2가     607700   12402.040816     489.255300   11000   12900     49
영등포동3가    1059440   11515.652174     569.492360   10290   13000     92
누상동         21300   10650.000000     919.238816   10000   11300      2
필동1가        25400    8466.666667    4387.862046    3400   11000      3
장충동2가      125940    6628.421053    2837.773507    3900   16000     19

[330 rows x 6 columns]