In [1]:
# !pip install pymysql

Collecting pymysql
  Downloading PyMySQL-0.9.3-py2.py3-none-any.whl (47 kB)
Installing collected packages: pymysql
Successfully installed pymysql-0.9.3

In [23]:
import pymysql

# connect
# passwd => str
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='3927', db='ecommerce', charset='utf8')

# get cursor
cursor = db.cursor()

# SQL query

sql_create = '''
    CREATE TABLE product (
        product_code varchar(20) not null,
        title varchar(200) not null,
        ori_price int,
        discount_price int,
        discount_percent int,
        delivery varchar(2),
        primary key(product_code)
    );
'''

sql_insert = '''
    INSERT INTO product values('215673140','스위트바니 여름신상',23000,6900,70,'F');
'''


# execute query
# cursor.execute(sql_insert) # execute 후 commit 필요

# commit 
db.commit()

# close connection
db.close()

In [30]:
# 연결 닫으면 다시 연결해야함
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='3927', db='ecommerce', charset='utf8')
cursor = db.cursor()

## SELECT
sql_select = ''' SELECT * FROM product'''

cursor.execute(sql_select)

result = cursor.fetchall()
## tuple로 가져옴
# fetchall => select 된 값 전부 가져오기
# fetchone => select 된 값 중 첫번째 값만
# fetchmany => select 된 값들 중 몇개만 (size 지정)

for record in result:
    print(record)

db.close()

('215673140', '스위트바니 여름신상', 23000, 6900, 70, 'F')

In [49]:
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='3927', db='ecommerce', charset='utf8')
cursor = db.cursor()

## upgrade SELECT

for i in range(11,):
    product_code = 215673140 + i
    sql_insert_upgrade = """INSERT INTO product VALUES(
    '""" + str(product_code) + """', '스위트바니 여름신상', 23000, 6900, 70, 'F');"""
    print(sql_insert_upgrade)
    cursor.execute(sql_insert_upgrade)
    

db.commit()

db.close()

INSERT INTO product VALUES(
    '215673141', '스위트바니 여름신상', 23000, 6900, 70, 'F');
INSERT INTO product VALUES(
    '215673142', '스위트바니 여름신상', 23000, 6900, 70, 'F');
INSERT INTO product VALUES(
    '215673143', '스위트바니 여름신상', 23000, 6900, 70, 'F');
INSERT INTO product VALUES(
    '215673144', '스위트바니 여름신상', 23000, 6900, 70, 'F');
INSERT INTO product VALUES(
    '215673145', '스위트바니 여름신상', 23000, 6900, 70, 'F');
INSERT INTO product VALUES(
    '215673146', '스위트바니 여름신상', 23000, 6900, 70, 'F');
INSERT INTO product VALUES(
    '215673147', '스위트바니 여름신상', 23000, 6900, 70, 'F');
INSERT INTO product VALUES(
    '215673148', '스위트바니 여름신상', 23000, 6900, 70, 'F');
INSERT INTO product VALUES(
    '215673149', '스위트바니 여름신상', 23000, 6900, 70, 'F');

IntegrityError: (1062, "Duplicate entry '215673149' for key 'product.PRIMARY'")