## [ 연습 ] 누락값처리

In [1]:
import pandas as pd

df = pd.read_csv('data/nan_sample.csv', encoding='utf-8')

In [3]:
df.head()

      가수        곡명       좋아요
0  방탄소년단      IDOL  166128.0
1     선미       사이렌   80982.0
2  방탄소년단  I'm Fine  127021.0
3      벤       열애중       NaN
4   레드벨벳      뚜루뚜루  190526.0

In [2]:
# 좋아요의 평균값을 구하고자 한다면?
df['좋아요'].mean()

141164.25

In [5]:
df['좋아요'].sum() /5 ### 결측값 연산시 sum,comsum 은 결측값을 0 으로 처리

112931.4

### 누락값(NaN)을 처리

### 데이타가 많은 경우 NaN 확인하는 방법 - missngno

https://github.com/ResidentMario/missingno

라이브러리 설치 (Anaconda Prompt 관리자 권한으로 실행)
 - > conda install missingno (안됨)
 - > pip install missingno (됨)

Jupyter에서 바로 실행
 - > !pip install missingno