In [ ]:

import cx_Oracle # 파이썬 oracle 연동 모듈 

con = cx_Oracle.connect("KIHYUK/3927@192.168.0.216:1521/orcl") # 연결 설정

for data in parsing_data:
    
    df = main(data)
    rows = list(df.itertuples(index=False,name=None))
    cursor = con.cursor()
    cursor.executemany("INSERT INTO HOUSE_TE(FLOOR,ADDRESS1,ADDRESS2,USER_EMAIL,RENT,SIZES,DEPOSIT,OPTIONS) VALUES(:1,:2,:3,:4,:5,:6,:7,:8)",rows)
    con.commit()

con.close()