In [1]:
import pandas as pd
import scipy as sp

%precision 3

'%.3f'

In [2]:
fish_multi = pd.read_csv('C:/Users/KIHyuk/Desktop/파이썬으로 배우는 통계학 교과서 예제소스/3-2-1-fish_multi.csv')

In [3]:
fish_multi

  species  length
0       A       2
1       A       3
2       A       4
3       B       6
4       B       8
5       B      10

#### 그룹별 통계량 계산하기

In [4]:
group = fish_multi.groupby('species')
print(group.mean())
print(group.std(ddof=1))

         length
species
A             3
B             8
         length
species
A           1.0
B           2.0

In [7]:
group.describe()

        length
         count mean  std  min  25%  50%  75%   max
species
A          3.0  3.0  1.0  2.0  2.5  3.0  3.5   4.0
B          3.0  8.0  2.0  6.0  7.0  8.0  9.0  10.0

#### 교차분석표

In [5]:
shoes = pd.read_csv('C:/Users/KIHyuk/Desktop/파이썬으로 배우는 통계학 교과서 예제소스/3-2-2-shoes.csv')

In [6]:
shoes

   store color  sales
0  tokyo  blue     10
1  tokyo   red     15
2  osaka  blue     13
3  osaka   red      9

In [8]:
cross = pd.pivot_table(
    data = shoes, # 데이터를 지정
    values = 'sales', # 데이터를 모을 열 지정
    aggfunc = 'sum', # 데이터를 모을 함수 지정
    index = 'store', # 교차분석표의 행 지정
    columns = 'color' # 교차분석표의 열 지정
)

In [9]:
cross

color  blue  red
store
osaka    13    9
tokyo    10   15

#### 공분산

In [16]:
# 공분산은 "2개의 연속형 변수의 관계성을 확인"하는 통계량

# 다음 조건을 만족

# 공분산이 0보다 클때 : 변수 한 쪽이 큰 값을 갖게 되면 다른 한 쪽도 커짐
# 공분산이 0보다 작을때 : 변수 한 쪽이 큰 값을 되면 다른 한 쪽은 작아짐
# 공분산이 0일 때 : 변수사이에 관계성이 없음

In [10]:
cov_data = pd.read_csv('C:/Users/KIHyuk/Desktop/파이썬으로 배우는 통계학 교과서 예제소스/3-2-3-cov.csv')

In [11]:
cov_data

      x   y
0  18.5  34
1  18.7  39
2  19.1  41
3  19.7  38
4  21.5  45
5  21.7  41
6  21.8  52
7  22.0  44
8  23.4  44
9  23.8  49

In [12]:
# 데이터 분리
x = cov_data['x']
y = cov_data['y']

# 표본 크기
N = len(cov_data)

# 평균값 계산
mu_x = sp.mean(x)
mu_y = sp.mean(y)

In [13]:
# 공분산 계산
cov_sample = sum( (x-mu_x) * (y-mu_y)) / N
cov_sample

6.906

In [15]:
# 분모를 N-1로 공분산 계산
cov = sum( (x-mu_x) * (y-mu_y)) / (N-1)
cov

7.673

In [16]:
# 분산-공분산 행렬

sp.cov(x,y,ddof=0)

array([[ 3.282,  6.906],
       [ 6.906, 25.21 ]])

In [17]:
sp.cov(x,y,ddof=1)

array([[ 3.646,  7.673],
       [ 7.673, 28.011]])

#### 피어슨 상관계수

In [ ]:
# 상관계수라고 하면 대부분 피어슨 상관계수
# 공분산을 -1 ~ 1 사이가 되도록 표준화
# 공분산은 편리한 지표이지만 최대값이나 최솟값이 얼마가 될지 알 수 없다. 따라서 사용하기 편하도록 범위를 보정

In [18]:
# 분산 계산
sigma_2_x = sp.var(x,ddof=1)
sigma_2_y = sp.var(y,ddof=1)

# 상관계수
rho = cov / sp.sqrt(sigma_2_x * sigma_2_y)
rho

0.7592719041137088

In [21]:
# 분모와 분자가 같은 값으로 나눠지므로 분산과 공분산 계산식의 분모에 N을 사용하든 N-1을 사용하든 상관계수는 변하지 않는다
sigma_2_x_sample = sp.var(x,ddof=0)
sigma_2_y_sample = sp.var(y,ddof=0)

cov_sample / sp.sqrt(sigma_2_x_sample * sigma_2_y_sample)

0.7592719041137087

In [22]:
# 상관행렬
sp.corrcoef(x,y)

array([[1.   , 0.759],
       [0.759, 1.   ]])