In [36]:
import pandas as pd
import json
import os

with open('C:/Users/KIHyuk/Desktop/brunch_data/json/멋진_캘리그래피.json',encoding='UTF8') as json_file:
    json_data = json.load(json_file)

df = pd.DataFrame(json_data['data'],
                  columns=['title','keyword','text','nickname','publish_date','likes','share','comment','url','url_plink'])

df.head(3)

,title,keyword,text,nickname,publish_date,likes,share,comment,url,url_plink
0,4월,"[캘리에세이\n , 캘리그라피\n ...","[, , , 날도 좋고 나도 좋고오늘따라 더 보고싶으니까 괜히 날씨 핑계삼아 전화해...",캘리에세이 CALLIESSAY,2020-04-01T23:54+0900,NaN,None,,https://brunch.co.kr/@calliessay/90,https://brunch.co.kr/@@sUs/90
1,취미가 기적이 되던 그 처음의 순간,"[1인기업\n , 캘리그래피\n ...","[, 나는 사람들에게 , 취미가 기적이 되는 삶을 살고 전하는 , 취미 기적 메신저...",소담,2020-04-01T18:33+0900,NaN,None,,https://brunch.co.kr/@sodamday/132,https://brunch.co.kr/@@jUs/132
2,이어즈 앤 이어즈,"[SF\n , 손글씨\n ...",['이어즈 앤 이어즈'는 영국의 한 가정을 중심으로 2019년부터 2034년까지의 ...,양보,2020-04-01T15:17+0900,NaN,None,,https://brunch.co.kr/@prorange/648,https://brunch.co.kr/@@4D6/648

## preprocessing

In [37]:
# text nan 개수
print("text nan 제거 전 : ",len(df))
print("text nan인 경우 : ",df['text'].isnull().sum())

# text nan 제거
df = df.dropna(subset=['text'])

print("text nan 제거 후 : ",len(df))

text nan 제거 전 :  3587
text nan인 경우 :  84
text nan 제거 후 :  3503

In [38]:
# keyword 
def pre_keyword(x):
    tmp = []
    for val in x:
        tmp.append(val.replace("\n","").replace(" ",""))
    return tmp

df['keyword'] = df['keyword'].apply(pre_keyword)
print(df['keyword'][0])

['캘리에세이', '캘리그라피', '4월']

In [39]:
def pre_comment(x):
    if len(x) == 0:
        return None
    else :
        return x

df['comment'] = df['comment'].apply(pre_comment)

In [35]:
def pre_text(x):
    return str(x)

df['text'] = df['text'].apply(pre_text)
df['text']

0       ['', '', '', '날도 좋고 나도 좋고오늘따라 더 보고싶으니까\xa0괜히 날...
1       ['', '나는 사람들에게 ', '취미가 기적이 되는 삶을 살고 전하는 ', '취미...
2       ["'이어즈 앤 이어즈'는 영국의 한 가정을 중심으로 2019년부터 2034년까지의...
3       ['해당 이야기는 워크어웨이(Workaway)를 통해 다녀온 여행 에세이를 담고 있...
4       ['4월 - 나태주', '<너만 모르는 그리움>', '', '', '#손글씨 , #...
                              ...
3582    ['', '누군가를 만났을때-', "'잘'지내냐고 묻지 않기로 했다.", '꼭 잘 ...
3583    ['', '틀렸다와 다르다의 차이는 여러 책들과 강연 등을 통해서 확실히 구분 지어...
3584    ['스물여덞 하고도 절반이 지난가을에 사표를 냈다. 출판부서로 옮긴 지 일 년 만이...
3585    ['\xa0\xa0선물을 할 때 나는 되도록이면 편지를 함께 주려고 노력한다.', ...
3586    ["아이들과 함께 할 수 있는 시간이 얼마 안남았다는 것을 생각하게 된\xa0건 큰...
Name: text, Length: 3503, dtype: object