In [3]:
import sqlite3

conn = sqlite3.connect('brunch_network')

c = conn.cursor()

# c.execute('CREATE TABLE main_db'\
#          ' (id INTEGER PRIMARY KEY, text TEXT, category INTEGER, date TEXT)')

c.execute("SELECT * FROM main_table")
results = c.fetchall()

conn.close()
print(results)

OperationalError: no such table: main_table

In [13]:
import sqlite3

conn = sqlite3.connect('brunch_text_input.sqlite')

c = conn.cursor()
c.execute('DROP TABLE IF EXISTS text_db')
c.execute('CREATE TABLE text_db'\
         ' (text TEXT, category INTEGER, date TEXT)')

example1 = '첫번째 글입니다. 나는 파이썬을 잘하고싶다. SQL도 잘하고 싶다'
c.execute("INSERT INTO text_db"\
         " (text, category, date) VALUES"\
         " (?, ?, DATETIME('now'))",(example1,0))

example2 = '나는 여행 가고 싶다. 놀러 가고 싶다. 바다 가고 싶다'
c.execute("INSERT INTO text_db"\
         " (text, category, date) VALUES"\
         " (?, ?,DATETIME('now'))",(example2,21))

conn.commit()
conn.close()

conn = sqlite3.connect('brunch_text_input.sqlite')
c = conn.cursor()

c.execute("SELECT * FROM text_db")
results = c.fetchall()

conn.close()
print(results)

[('첫번째 글입니다. 나는 파이썬을 잘하고싶다. SQL도 잘하고 싶다', 0, '2020-04-14 05:37:43'), ('나는 여행 가고 싶다. 놀러 가고 싶다. 바다 가고 싶다', 21, '2020-04-14 05:37:43')]

In [ ]:
import sqlite3