In [16]:
import pandas as pd

In [19]:
df = pd.read_csv('../../Data/titanic_train.csv')

In [31]:
new_df = df.groupby(['Sex','Survived'])['Age'].mean().unstack()

In [33]:
new_df

Survived          0          1
Sex
female    25.046875  28.847716
male      31.618056  27.276022

In [35]:
new_df.columns

Int64Index([0, 1], dtype='int64', name='Survived')