In [1]:
import pandas as pd

df = pd.DataFrame( {'a':[10,20,30], 'b':[2, 4, 6]})

In [3]:
# 1. 함수 정의
def my_fun1(x):
    return x**2

def my_fun2(x, n):
    return x**n

print(my_fun1(4))
print(my_fun2(4,2))

16
16

In [11]:
# 2. apply 함수를 이용하여 모든 데이타에 각각 함수 적용하기

re1 = df['a'].apply(my_fun1)
print(re1)

re2 = df['a'].apply(my_fun2, n=2) ## my_fun2의 경우 인자 2개를 필요로하기 때문에, 하나의 인자는 각 column별 데이터가 들어가나 나머지 하나의 인자는 지정해줘야함
print(re2)

0    100
1    400
2    900
Name: a, dtype: int64
0    100
1    400
2    900
Name: a, dtype: int64

In [29]:
# [연습] 데이타 프레임의 각 열 단위로 데이타의 합을 출력
def my_fun3(col):
    sum=0
    for i in col:
        sum += i
    return sum

re3 = df.apply(lambda x : my_fun3(x)) # axis=0 (행방향 -> 열단위) # lambda 사용
print(re3)

re4 = df.apply(my_fun3,axis=1)
print(re4)

a    60
b    12
dtype: int64
0    12
1    24
2    36
dtype: int64

In [32]:
# 'a' 컬럼의 값이 10 이하는 'C', 20 이하는  'B', 30 이하는 'A'를 지정하고자 할 때
def func(score):
    grade = ''
    if( score <= 10) : grade='C'
    elif(score <= 20) : grade='B'
    elif(score <= 30) : grade='A'
    return grade

df.a.apply(func)

0    C
1    B
2    A
Name: a, dtype: object

## [연습]  고객의 결제정보에서 vip 선별

결재가 confirmed 된 상태이고 금액이 500원이상 구매한 고객들을 vip로 선별하고 그 외 고객들은 non-vip로 지정하여 grade 컬럼에 추가 저장한다.

In [58]:
import pandas as pd

# index_col : 지정한 컬럼을 Row Index로 사용한다.
customer = pd.read_csv('./data/customer.csv', index_col = "Name")

In [59]:
customer.head()

            date  price      state
Name
Kang  2017-01-01    500  confirmed
Kim   2017-01-03    700  confirmed
Choi  2017-01-03    900  confirmed
Park  2017-01-05    800  confirmed
Lee   2017-01-07    500   canceled

In [60]:
customer['grade'] = (customer['price'] >= 500) & (customer['state'] == "confirmed")

In [61]:
def func(x):
    if x == True :
         grade = "VIP"
    else :
        grade = "non_VIP"
    return grade

In [62]:
customer['grade'] = customer['grade'].apply(func)

In [63]:
customer

            date  price      state    grade
Name
Kang  2017-01-01    500  confirmed      VIP
Kim   2017-01-03    700  confirmed      VIP
Choi  2017-01-03    900  confirmed      VIP
Park  2017-01-05    800  confirmed      VIP
Lee   2017-01-07    500   canceled  non_VIP
Yoon  2017-01-09    700  confirmed      VIP
Jang  2017-01-09    600   canceled  non_VIP
Ko    2017-01-10    200   canceled  non_VIP