In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('winemag-data_first150k.csv')

In [4]:
df['points'] > 50

0         True
1         True
2         True
3         True
4         True
5         True
6         True
7         True
8         True
9         True
10        True
11        True
12        True
13        True
14        True
15        True
16        True
17        True
18        True
19        True
20        True
21        True
22        True
23        True
24        True
25        True
26        True
27        True
28        True
29        True
          ...
150900    True
150901    True
150902    True
150903    True
150904    True
150905    True
150906    True
150907    True
150908    True
150909    True
150910    True
150911    True
150912    True
150913    True
150914    True
150915    True
150916    True
150917    True
150918    True
150919    True
150920    True
150921    True
150922    True
150923    True
150924    True
150925    True
150926    True
150927    True
150928    True
150929    True
Name: points, Length: 150930, dtype: bool