In [98]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

In [150]:
# import pandas as pd

# # 판다스 데이터프레임(DataFrame)을 출력할 때, 최대 출력할 수 있는 컬럼을 100개로 늘려줍니다.
# # 이렇게 해야 데이터를 분석할 때 출력해서 확인하기 편합니다.
pd.options.display.max_columns = 300
pd.options.display.max_rows = 300

In [104]:
# read_raw => 바탕화면 / 브런치데이터 / 

read_raw = pd.read_csv('read_raw')

In [109]:
read_raw['datetime'] = pd.to_datetime(read_raw['datetime'])

In [111]:
read_raw.set_index('datetime',inplace=True)

In [131]:
fall = read_raw['2018-10':'2018-11']

In [153]:
fall_gowork_time = fall[(fall.index.hour == 6) | (fall.index.hour == 7) | (fall.index.hour == 8) | (fall.index.hour == 9)]['article_id'].values
fall_lunch_time = fall[(fall.index.hour == 12) | (fall.index.hour == 13) | (fall.index.hour == 14)]['article_id'].values
fall_dinner_time = fall[(fall.index.hour == 18) | (fall.index.hour == 19)]['article_id'].values
fall_sentimental_time = fall[(fall.index.hour == 1) | (fall.index.hour == 2)]['article_id'].values
fall_free_time = fall[(fall.index.hour == 14) | (fall.index.hour == 15) | (fall.index.hour == 16)]['article_id'].values

In [155]:
winter = read_raw['2018-12':'2019-03-01']

In [156]:
winter_gowork_time = winter[ (winter.index.hour == 6) | (winter.index.hour == 7) | (winter.index.hour == 8) | (winter.index.hour == 9)]['article_id'].values

winter_lunch_time = winter[ (winter.index.hour == 12) | (winter.index.hour == 13) | (winter.index.hour == 14)]['article_id'].values

winter_dinner_time = winter[ (winter.index.hour == 18) | (winter.index.hour == 19)]['article_id'].values

winter_sentimental_time = winter[ (winter.index.hour == 1) | (winter.index.hour == 2)]['article_id'].values

winter_forsleep_time =winter[ (winter.index.hour == 10) | (winter.index.hour == 11) | (winter.index.hour == 0)]['article_id'].values

winter_free_time = winter[ (winter.index.hour == 14) | (winter.index.hour == 15) | (winter.index.hour ==16)]['article_id'].values

In [189]:
winter_gowork_time

array(['@allstay_811', '@jang2699_391', '@jang2699_391', ...,
       '@daljasee_230', '@daljasee_230', '@brunch_151'], dtype=object)

In [164]:
sky = pd.read_csv('C:/Users/KIHyuk/Desktop/브런치 데이터/기상데이터/하늘상태.csv')

In [168]:
# del sky['forecast']

In [165]:
sky = sky[sky.forecast == 4.0]

In [171]:
sky.loc[0,'date'] = datetime.datetime(2018, 10, 1, 3, 0, 0)

In [172]:
sky = sky.reset_index(drop=True)

In [173]:
for i in range(1, len(sky)):
    sky.loc[i, 'date'] = sky.loc[i-1, 'date'] + datetime.timedelta(hours=3)

In [174]:
sky.set_index('date',inplace=True)

In [176]:
# del sky['forecast']
# del sky['hour']
# del sky[' format: day']

In [186]:
sky

                     value  location:61_125 Start : 20181001
date
2018-10-01 03:00:00                                       3.0
2018-10-01 06:00:00                                       3.0
2018-10-01 09:00:00                                       3.0
2018-10-01 12:00:00                                       3.0
2018-10-01 15:00:00                                       3.0
...                                                       ...
2019-02-28 12:00:00                                       1.0
2019-02-28 15:00:00                                       1.0
2019-02-28 18:00:00                                       1.0
2019-02-28 21:00:00                                       1.0
2019-03-01 00:00:00                                       1.0

[1208 rows x 1 columns]

In [190]:
len(winter_gowork_time)

1870953

In [158]:
# weather = pd.read_csv('C:/Users/KIHyuk/Desktop/브런치 데이터/기상데이터/하늘상태.csv')

# # import pandas as pd

# # # 판다스 데이터프레임(DataFrame)을 출력할 때, 최대 출력할 수 있는 컬럼을 100개로 늘려줍니다.
# # # 이렇게 해야 데이터를 분석할 때 출력해서 확인하기 편합니다.
# pd.options.display.max_columns = 5000
# pd.options.display.max_rows = 5000

# weather.columns

# weather[' format: day'][0:216] = "2018-10-0" + weather[' format: day'][0:216]
# weather[' format: day'][216:745] = "2018-10-" + weather[' format: day'][216:745]

# weather[' format: day'][745:961] = "2018-11-0" + weather[' format: day'][745:961]
# weather[' format: day'][961:1465] = "2018-11-" + weather[' format: day'][961:1465]

# weather[' format: day'][1466:1682] = "2018-12-0" + weather[' format: day'][1466:1682]
# weather[' format: day'][1682:2210] = "2018-12-" + weather[' format: day'][1682:2210]

# weather[' format: day'][2211:2427] = "2019-01-0" + weather[' format: day'][2211:2427]
# weather[' format: day'][2427:2955] = "2019-01-" + weather[' format: day'][2427:2955]

# weather[' format: day'][2956:3172] = "2019-02-0" + weather[' format: day'][2956:3172]
# weather[' format: day'][3172:] = "2019-02-" + weather[' format: day'][3172:]

# weather.drop([744,1465,2210,2955], inplace=True)

# def trim(x):
#     result = x.replace(" ","")
#     res_result = result.replace("-","")
#     return res_result

# weather[' format: day'] = weather[' format: day'].apply(trim)



# weather[' format: day'] = pd.to_datetime(weather[' format: day'])

# weather = weather.set_index(' format: day')


# weather[weather['value location:60_127 Start : 20181001 ']==1.0]

# # weather