In [1]:
import pandas as pd
import numpy as np
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.stattools import adfuller, kpss
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
import math
import seaborn as sns
import warnings
import statsmodels.api as sm
import matplotlib.pyplot as plt
import itertools
import scipy.stats as st
from datetime import datetime, timedelta
warnings.filterwarnings("ignore")  # specify to ignore warning messages

sns.set(color_codes=True)

test = pd.read_csv('C:/Users/KIHyuk/Desktop/dacon_data/Data_상점매출/test.csv')
submission = pd.read_csv('C:/Users/KIHyuk/Desktop/dacon_data/Data_상점매출/submission.csv')

df_copy = test.copy() # 복사본
df_copy['date'] = pd.to_datetime(df_copy.date)

df_copy['date'] = pd.to_datetime(df_copy.date.astype(str) + " " + df_copy.time, format='%Y-%m-%d %H:%M:%S') # date + time

In [2]:
df_copy

,store_id,date,time,card_id,amount,installments,days_of_week,holyday
0,0,2016-08-01 00:28:15,00:28:15,bf33518373,125,NaN,0,0
1,0,2016-08-01 01:09:58,01:09:58,7a19a3a92f,90,NaN,0,0
2,0,2016-08-01 01:47:24,01:47:24,6f9fd7e241,150,NaN,0,0
3,0,2016-08-01 17:54:43,17:54:43,8bcf1d61b2,362,NaN,0,0
4,0,2016-08-01 18:48:53,18:48:53,6a722ce674,125,NaN,0,0
...,...,...,...,...,...,...,...,...
473387,199,2018-03-30 14:17:59,14:17:59,300d7bc922,65,NaN,4,0
473388,199,2018-03-30 19:01:54,19:01:54,3ab757718b,65,NaN,4,0
473389,199,2018-03-30 20:08:03,20:08:03,2d8e9e421c,65,NaN,4,0
473390,199,2018-03-30 20:11:58,20:11:58,22daeb334e,200,NaN,4,0
473391,199,2018-03-31 11:41:18,11:41:18,2e698f3302,500,NaN,5,0

In [ ]:
s

In [3]:
# Remove negative values from the data set.
# 하루 매출이 음수가 되는 경우 존재.

def reduce_noise_by_removing_neg_vals(df_copy):
    df_pos = df_copy[df_copy['amount'] > 0] # 정상거래
    df_neg = df_copy[df_copy['amount'] < 0] # 거래취소

#     start = datetime.now() # 현재시간

    for nega_i in df_neg.to_records()[:]: # to_records : DataFrame => ndarray
        store_i = nega_i[1]  # i번째 행의 store_id  # -거래
        date_i = nega_i[2] # i번째 행의 date  # -거래
        card_i = nega_i[4] # i번째 행의 card_id  # -거래
        amt_i = nega_i[5] # i번째 행의 amount  # -거래
        row_i = df_pos[df_pos['store_id'] == store_i] # 정상거래 중 store_id가 i번째(-거래) store_i와 같은 데이터 추출
        row_i = row_i[row_i['card_id'] == card_i] # 정상거래 중 card_id가 i번째(-거래) card_id와 같은 데이터 추출
        row_i = row_i[row_i['amount'] >= abs(amt_i)] # -거래와 절대값이 같거나 큰 결제정보 중
        row_i = row_i[row_i['date'] <= date_i] # -거래 이전데이터 중 
        if len(row_i[row_i['amount'] == abs(amt_i)]) > 0: # -거래 이전 거래중 절대값이 같은 거래가 있다면,,
            row_i = row_i[row_i['amount'] == abs(amt_i)] # 여기 왜 필요?..
            matched_row = row_i[row_i['date'] == max(row_i['date'])] # 가장 최근 시점 
            # df_pos.loc[matched_row.index, 'amount'] = 0
            df_pos = df_pos.loc[~df_pos.index.isin(matched_row.index), :] # matched_row에 해당하는 거래정보 제거(index이용)
        elif len(row_i[row_i['amount'] > abs(amt_i)]) > 0: # -거래 이전 거래중 절대값이 더 큰 거래가 있다면,,
            matched_row = row_i[row_i.date == max(row_i.date)]
            df_pos.loc[matched_row.index, 'amount'] = matched_row.amount + amt_i # 차액만큼만
        # else:
        #     pass
            # no_match.append(nega_i)
#     end = datetime.now()
#     time_took = (end - start).seconds / 60

#     print(round(time_took, 2))
    return df_pos # df_pos는 -거래 없는 데이터(-거래에 따른 환불처리까지)

df_pos = reduce_noise_by_removing_neg_vals(df_copy)

In [4]:
def adf_test(y): # stationary test function
    # perform Augmented Dickey Fuller test
    print('Results of Augmented Dickey-Fuller test:')
    dftest = adfuller(y, autolag='AIC')
    dfoutput = pd.Series(dftest[0:4], index=['test statistic', 'p-value', '# of lags', '# of observations'])
    for key, value in dftest[4].items():
        dfoutput['Critical Value ({})'.format(key)] = value
    print(dfoutput)

In [5]:
def ts_diagnostics(y, lags=None, title='', filename=''):
    '''
    Calculate acf, pacf, qq plot and Augmented Dickey Fuller test for a given time series
    '''
    if not isinstance(y, pd.Series): # y의 type이 Series가 아니라면
        y = pd.Series(y) # Series로 변경

    # weekly moving averages (5 day window because of workdays)
    rolling_mean = pd.Series.rolling(y, window=2).mean() # y.rolling(2).mean()
    rolling_std = pd.Series.rolling(y, window=2).std()

    fig = plt.figure(figsize=(14, 12))
    layout = (3, 2)
    ts_ax = plt.subplot2grid(layout, (0, 0), colspan=2)
    acf_ax = plt.subplot2grid(layout, (1, 0))
    pacf_ax = plt.subplot2grid(layout, (1, 1))
    qq_ax = plt.subplot2grid(layout, (2, 0))
    hist_ax = plt.subplot2grid(layout, (2, 1))

    # time series plot
    y.plot(ax=ts_ax)
    rolling_mean.plot(ax=ts_ax, color='crimson')
    rolling_std.plot(ax=ts_ax, color='darkslateblue')
    plt.legend(loc='best')
    ts_ax.set_title(title, fontsize=24)

    # acf and pacf
    plot_acf(y, lags=lags, ax=acf_ax, alpha=0.5)
    plot_pacf(y, lags=lags, ax=pacf_ax, alpha=0.5)

    # qq plot
    sm.qqplot(y, line='s', ax=qq_ax)
    qq_ax.set_title('QQ Plot')

    # hist plot
    y.plot(ax=hist_ax, kind='hist', bins=25)
    hist_ax.set_title('Histogram')
    plt.tight_layout()
    plt.show()

    # perform Augmented Dickey Fuller test
    print('Results of Dickey-Fuller test:')
    dftest = adfuller(y, autolag='AIC')
    dfoutput = pd.Series(dftest[0:4], index=['test statistic', 'p-value', '# of lags', '# of observations'])
    for key, value in dftest[4].items():
        dfoutput['Critical Value (%s)' % key] = value
    print(dfoutput)
    return

In [6]:
# 굳이 해야되는 코드인가..
df = df_pos.copy()
test_groupby_date_store = df.groupby(['date', 'store_id'])['amount', 'holyday'].sum() # time,store_id 별 매출,휴무일수 합산

test_groupby_date_store = test_groupby_date_store.reset_index() # store_id를 다시 col로 만들기 위해
test_groupby_date_store = test_groupby_date_store.set_index('date') # store_id 다시 col되어 있음

store_list = test_groupby_date_store.store_id.unique()

store_list.sort()

In [7]:
def get_optimal_params(y): # ARIMA의 최적 p,d,q 
    # Define the p, d and q parameters to take any value between 0 and 1

    param_dict = {}
    for param in pdq:
        try:
            # model_1 => SARIMAX
            mod = sm.tsa.statespace.SARIMAX(y,
                                            order=param, # pdq
                                            )
            results = mod.fit()
            
            # model_2 => ARIMA
            model = ARIMA(y, order=param)
            
            results_ARIMA = model.fit(disp=-1) # disp=-1 => not error message 
            results_ARIMA.summary()
            
            param_dict[results.aic] = param # result.aic의 param  # 해당 aic가 나오도록 한 param을 알기위해
        except:
            continue

    min_aic = min(param_dict.keys()) # aic중 최소값
    optimal_params = param_dict[min_aic]
    return optimal_params # aic를 최소로하는 param return

###############################################################################################################
sampling_p = 28
mean_period = 2 * 3 #14 * 2*3

predic_len = math.floor(100 / sampling_p)

expected_return_pct_lending = 0.13 * (100 + 16 + 6.8) / 365
expected_loss_pct_lending = 1.00
optimal_prob = expected_loss_pct_lending / (expected_loss_pct_lending + expected_return_pct_lending)
optimal_z_score = st.norm.ppf(optimal_prob)

min_period = 6
###############################################################################################################


max_pdq = 2
p = d = q = range(0, max_pdq)
pdq = list(itertools.product(p, d, q))


pdqs = dict()
print(optimal_prob)
print(optimal_z_score)
output_file_name_fmt = '../1st_data/py_4arima_pos_sep_{optimal_p}-{sampling_period}_no_sales_prob&no mean{mean_period}&min_period {min_period}_pdq{max_pdq}.csv'
output_file_name = output_file_name_fmt.format(optimal_p=round(optimal_prob, 4),
                                               sampling_period=sampling_p,
                                               mean_period=mean_period,
                                               min_period=min_period,
                                               max_pdq=max_pdq)

submission_copy = submission.copy()

0.9580957780787686
1.7290036387221377

In [8]:
def arima_main(input_df, sampling_period_days, fcst_period):
    input_df = input_df[len(input_df) % sampling_period_days:].resample(str(sampling_period_days) + 'D').sum()
    prob_of_no_sales = len(input_df[(input_df.amount == 0) | (input_df.amount.isna())]) / len(input_df)
    ts_log = np.log(input_df.amount)
    ts_log = ts_log[~ts_log.isin([np.nan, np.inf, -np.inf])] # log를 씌운 amount중 nan,무한대값을 제거

    if len(ts_log) < min_period:
        return None
    if sampling_period_days >= 28:
        expected_return_pct_lending = 0.13 * (100 + 16 + 6.8) / 365
    elif sampling_period_days >= 14:
        expected_return_pct_lending = 0.13 * (100 + 16 + 14) / 365
    else:
        expected_return_pct_lending = 0.13 * (100 + 16 + 6.8) / 365

    expected_loss_pct_lending = 1.00
    optimal_prob = expected_loss_pct_lending / (expected_loss_pct_lending + expected_return_pct_lending)
    optimal_z_score = st.norm.ppf(optimal_prob)

    optimal_params = get_optimal_params(ts_log) # optimal param
    pdqs[store_i] = optimal_params

    # ARIMA model
    model = ARIMA(ts_log, order=optimal_params)
    results_ARIMA = model.fit(disp=-1)
    fcst = results_ARIMA.forecast(fcst_period)

    fcst_means = fcst[0]
    fcst_stds = fcst[1]
    fcst_i = fcst_means - (fcst_stds * optimal_z_score)
    fcst_i = sum(map(lambda x: np.exp(x) if np.exp(x) > 0 else 0, fcst_i))
    prediction_i = fcst_i * (1 - prob_of_no_sales)
    return prediction_i

##############################################################################################################

In [10]:
for store_i in store_list[:]:
    prediction_i = None
    test_df = test_groupby_date_store[test_groupby_date_store.store_id == store_i]
    test_df_daily = test_df.resample('D').sum()
    prediction_i = arima_main(test_df_daily, sampling_period_days=28, fcst_period=3)
    # if prediction_i is None:
    #     prediction_i = arima_main(test_df_daily, sampling_period_days=21, fcst_period=4)
    if prediction_i is None:
        prediction_i = arima_main(test_df_daily, sampling_period_days=14, fcst_period=7)
    if prediction_i is None:
        prediction_i = arima_main(test_df_daily, sampling_period_days=7, fcst_period=12)
    if prediction_i is None:
        test_df = test_df_daily[len(test_df_daily) % 14:].resample('14D').sum()

        prob_of_no_sales = len(test_df[(test_df.amount == 0) | (test_df.amount.isna())]) / len(test_df)
        ts_log = ts_log[~ts_log.isin([np.nan, np.inf, -np.inf])]
        ts_log_wkly = np.log(test_df.amount)

        estimated_amt = np.exp(ts_log_wkly.mean() - ts_log_wkly.std() * optimal_z_score) * (1 - prob_of_no_sales)
        prediction_i = estimated_amt * mean_period

    submission_copy.loc[submission_copy['store_id'] == store_i, 'total_sales'] = prediction_i

# submission_copy.to_csv(output_file_name, index=False)

print(output_file_name)

../1st_data/py_4arima_pos_sep_0.9581-28_no_sales_prob&no mean6&min_period 6_pdq2.csv

In [11]:
submission_copy

     store_id   total_sales
0           0  68426.936910
1           1  11840.490783
2           2  16208.571184
3           3  26870.446220
4           4  11752.421019
..        ...           ...
195       195  31237.923574
196       196  31340.097798
197       197     57.921562
198       198   1061.787577
199       199  18906.142306

[200 rows x 2 columns]