### 실전 데이터분석반 최종 과제 - 지그재그

안녕하세요. **DS School** X **지그재그**입니다.

실전 데이터분석반의 최종 과제를 전달합니다. 이번 과제는 여성 쇼핑몰 큐레이션&랭킹 서비스인 지그재그의 데이터를 활용하여, 지그재그의 구성원들이 언제든지 서비스의 현황을 확인할 수 있는 대시보드를 작성하려고 합니다. 이 대시보드에서는 제품의 판매량, 검색 키워드 순위 등을 포함한 지그재그의 모든 현황을 쥬피터 노트북에서 실시간으로 파악할 수 있어야 합니다.

![dashboard](http://drive.google.com/uc?export=view&id=1Tx-40_K_j8E1c5sYoa47GJs01tM-x25-)


<center><small><b>DS School의 대시보드 예시. X축이 날짜, Y축이 누적 매출입니다. (bar는 현재 매출, line은 목표 매출을 나타냅니다)</b></small></center>
<center><small><b>이렇게 모든 구성원들이 실시간으로 회사의 현황을 확인할 수 있어야 데이터에 기반한 빠른 의사결정을 내릴 수 있습니다. </b></small></center>

라이브 서비스를 운영중인 IT 스타트업에서 서비스의 현황을 빠르게 파악하는 것은 매우 중요합니다. 모든 구성원들이 서비스의 현황을 실시간으로 파악할 수 있어야 회사의 현 상태를 신속하게 점검할 수 있고, 문제를 발견하여 빠르게 수정할 수 있습니다.

가령 이번 달 목표 매출을 달성하지 못할 것 같으면, 마케팅팀과 기획팀에서는 목표 매출을 달성하기 위한 다양한 아이디어를 제안할 것이며, (기획전 주최, 할인 쿠폰 발행 등) 순간적으로 매출이나 페이지뷰가 급감할 경우 개발팀과 운영팀에서는 서비스가 기술적으로 문제가 없는지 점검해야 합니다. (서버 불안정, 특정 스마트폰 디바이스에서 주요 기능이 동작하지 않는 문제 등) 이를 빠르게 파악하지 못하면 회사의 의사결정 속도가 느려지고, 결국 회사가 목표를 달성하지 못하거나 경쟁사에게 추월당할 수 있습니다.

일반적으로 IT회사에서 대시보드를 구현하는 방법은 크게 두 가지로 나뉩니다. 첫 번째는 엑셀(내지는 구글 스프레드시트)을 활용해 구현하는 것이고, 두 번째는 프로그래밍 언어 + 웹 프레임워크를 활용해 자체 대시보드를 개발하는 것입니다. 두 가지 모두 장단점이 있습니다. 먼저 엑셀을 활용해 대시보드를 구현하는 방식의 장점은

1. 엑셀은 다른 툴에 비해 상대적으로 쉽기 때문에 모든 구성원들이 자유롭게 대시보드의 기능을 추가하거나 수정할 수 있습니다.
2. 엑셀에는 이미 구현된 기능이 많기 때문에, 새로운 기능을 추가하는데 소요되는 시간을 단축할 수 있습니다.

반면에 엑셀을 활용해 대시보드를 구현하는 방식의 단점은

1. 데이터의 양이 많아지면 대시보드가 현격하게 느려집니다. 회사마다 다르지만, 하루에 최소 1만 명 이상 방문하는 서비스의 경우 엑셀로 대시보드를 만들 경우, 엑셀 공식을 잘 튜닝하지 않으면 속도가 느려져서 사용하기가 매우 불편합니다.
2. 엑셀에서 지원하지 않는 기능이 필요할 경우, 이를 구현하는게 불가능하거나 구현하는데 너무 오랜 시간이 걸립니다.

<img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto/gigs/107012856/original/535b5c601849de9b82666e98f832b0d667581f40/prepare-cma-report-and-project-report-for-bank-finance.png" width="320">


<br />
<center><small><b>비슷한 기능을 엑셀로 구현할 수 있지만, 속도가 느리며 기능이 한정되어 있습니다.</b> (<a href="https://www.fiverr.com/archamehta365/prepare-cma-report-and-project-report-for-bank-finance">출처</a>)</small></center>

두 번째 방식은 프로그래밍 언어 + 웹 프레임워크를 활용해 자체 대시보드를 개발하는 것입니다. 가령 파이썬의 경우, 쟝고([django](https://djangoproject.com))나 플라스크([Flask](http://flask.pocoo.org/)), SQL알케미([SQLAlchemy](https://www.sqlalchemy.org)), 그리고 자바스크립트 시각화 프레임워크인 [D3.js](https://d3js.org/) 등을 활용해 웹 대시보드를 자체 구현할 수 있습니다.

이렇게 대시보드를 자체 구현하는 방식의 장점은

1. 파이썬 프로그래밍 언어로 작성하였기 때문에 엑셀에 비해서 확연하게 속도가 빠릅니다. 파이썬으로 대시보드를 구현했을 때 속도가 느려서 곤란한 상황을 겪을 가능성은 거의 없습니다.
2. 다소 구현 난이도가 높은 기능도 파이썬과 관련 패키지를 활용하면 엑셀에 비해 어렵지 않게 구현할 수 있습니다. 또한 이미 운영중인 자사의 IT서비스와 대시보드를 연계하는 것도 굉장히 편리합니다.

반면에 프로그래밍 언어 + 웹 프레임워크를 활용해 대시보드를 자체 구축하는 방식의 단점은

1. 새로운 기능을 추가하는데 시간이 오래 걸립니다. 일단 프로그래밍 언어가 익숙하지 않은 직군(ex: 마케팅팀, 운영팀)의 경우에는 대시보드의 기능을 수정할 수가 없습니다.
2. 설령 마케팅, 운영팀이 기능을 대시보드의 기능을 수정했다고 하더라도, 이를 대시보드가 운영중인 서버에 배포하는 것은 매우 어렵습니다.
3. 대시보드를 구현한 프로그래밍 팀 입장에서도, 기능을 수정한 뒤 배포하는데 다소 시간이 걸리기 때문에 신속하게 기능을 추가하거나 변경하는 것이 어렵습니다.


<img src="https://cdn.colorlib.com/wp/wp-content/uploads/sites/2/free-bootstrap-admin-dashboard-templates.jpg" width="320">

<center><small><b>마찬가지로 비슷한 기능을 프로그래밍 언어 + 웹 프레임워크로 구현할 수 있습니다.</b></small></center>
<center><small><b>하지만 이 경우 구현하는데 시간이 걸리며, 신속하게 기능을 추가하거나 수가하기가 어렵습니다.</b> (<a href="https://colorlib.com/wp/free-bootstrap-admin-dashboard-templates/">출처</a>)</small></center>


<br />


다행히도 우리에게는 이 두 가지 방식의 장점을 모두 살릴 수 있는 아이디어가 있습니다. 바로 대시보드를 **쥬피터 노트북에 구현하는 것** 입니다. 이렇게 하면 쥬피터 노트북에서 실시간으로 기능을 구현해서 대시보드를 띄울 수 있습니다. 순서는 다음과 같습니다.

1. 쥬피터 노트북을 원격 서버에 띄웁니다. (원격 서버에 띄우는 방식은 [다음의 링크](https://jupyter-notebook.readthedocs.io/en/stable/public_server.html)를 참고해주세요)
1. 개발팀에서는 회사의 데이터를 쥬피터 노트북에서 접근할 있는 기본 세팅을 해줍니다. 가장 쉬운 방법은 DB 연결 권한을 준 뒤 쥬피터 노트북에서 바로 SQL 쿼리를 날리는 겁니다. ([read_sql](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_sql.html) 참조)
1. 개발팀에서 대시보드에 필요한 핵심 기능을 구현하되, 코멘트를 상세하게 달아서 비개발 직군 팀이 변수 몇 개만 바꾸면 바로 기능을 수정할 수 있도록 만들어줍니다.

이렇게 쥬피터 노트북에서 대시보드를 구현할 경우의 장점은 다음과 같습니다.

1. 파이썬과 판다스로 구현하였기 때문에 속도가 빠릅니다. 웹 대시보드를 직접 구현하는 것과 거의 동일한 실행 속도로 동작합니다.
2. 대시보드를 구현한 개발팀이 코멘트를 상세하게 남겨주면, 비개발 직군(ex: 마케팅, 운영)에서 간단한 기능을 추가하거나 수정하는 것은 큰 문제가 없습니다. (가령 11월 매출 현황을 시각화한 그래프를 활용하여 12월 매출 현황을 시각화하고 싶다면, 변수 몇 개만 바꿔주면 될 겁니다)
3. 복잡한 기능을 구현해야 할 경우, 개발팀이 쥬피터 노트북에서 바로 구현해주면 됩니다. 구현 결과를 대시보드 서버에 배포하는 등의 복잡한 행위를 할 필요가 없습니다.


<img src="http://blog.ibmjstart.net/wp-content/uploads/2015/08/layout.gif" width="320">

<br />
<center><small><b>위와 같은 방식으로 쥬피터 노트북에 바로 대시보드를 구현할 수 있습니다.</b> (<a href="http://blog.ibmjstart.net/2015/08/22/dynamic-dashboards-from-jupyter-notebooks/">출처</a>)</small></center>


<br />

그러므로 이번 최종 과제에서는 지그재그의 데이터를 활용하여, 지그재그의 구성원들이 실시간으로 회사 현황을 파악할 수 있는 대시보드를 쥬피터 노트북에서 구현할 것입니다.

과제를 푸는데 주어진 시간은 없습니다. 과제를 받은 뒤, 시간에 구애받지 않고 천천히 문제를 풀어주세요. 이번 과제는 빠르게 푸는 것 보다 정확하게 푸는 것이 더 중요하다고 강조하고 싶습니다. 과제를 정확하게 풀었다는 기준은 다음과 같습니다.

1. 예시와 동일한 결과가 출력되는 코드를 작성해야 합니다. 결과가 예시와 다를 경우 무언가 코드에 오류가 있을 가능성이 있습니다.
2. 코드가 깔끔하게 정리되어 있고, 모듈화(=함수)가 잘 되어있으며, 코멘트가 자세하게 적혀 있어서 비 개발 직군(ex: 운영팀, 마케팅팀)이 코드와 코멘트를 보고 직접 수정할 수 있어야 합니다.
3. 장기적인 관점에서 확장 가능한 코드를 작성해야 합니다. 가령 회사의 매출 현황을 확인하는 대시보드를 작성할 때, 1) 11월 매출을 확인하는 코드로 12월 매출을 확인할 수 없거나, 2) 새로운 상품이나 쇼핑몰이 추가되었을 때 이를 반영하지 못하거나, 3) 서비스의 기획이 변경되거나 새로운 이벤트가 발생했을 때 이에 즉각적으로 대응할 수 없다면 (기획전, 할인 쿠폰 발행, 상품 가격 변경, 포인트 제도 정책 변경 등) 장기적인 관점에서 잘못 구현되었다고 판단할 수 있습니다. 


과제를 모두 푼 분들은 datascience@dsschool.co.kr 에 1) 과제를 푼 쥬피터 노트북(.ipynb 파일)과, 2) 본인의 이력서를 첨부파일로 제출해주세요. 제출 결과를 확인한 뒤 지그재그의 담당 팀에게 전달하도록 하겠습니다. (단, 면접용 과제이기 때문에 이전 수업처럼 솔루션을 제공해드릴 수 없는 점 양해 부탁드립니다)

### Configuration

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

C:\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
import matplotlib
from IPython.display import set_matplotlib_formats

# Mac OS를 이용하고 있기 떄문에 AppleGothic을 설정했습니다.
# 윈도우의 경우 다른 폰트를 사용해주셔야 합니다. 나눔폰트가 있는 경우 'NanumGothic' 없는 경우에는 'Malgun Gothic'을 사용해주세요.
matplotlib.rc('font', family='NanumGothic')
# mpl.rc('font', family='NanumGothic')

# 별도로, 폰트를 바꿀 경우 마이너스가 표시되지 않는 경우도 있는데 이를 막아주는 코드입니다.
matplotlib.rc('axes', unicode_minus=False)

# retina 옵션을 통해 해상도를 올립니다.
set_matplotlib_formats('retina')

### Load Dataset

**user_info.csv**

먼저 가져올 데이터는 지그재그의 사용자 정보를 나타내는 ```user_info.csv``` 입니다. 컬럼 정보는 다음과 같습니다.

* ```user_id```: 사용자의 고유한 정보를 나타내는 아이디.
* ```os```: 사용자가 이용중인 OS 기기. 'iOS'는 아이폰, 'And'는 안드로이드를 나타냅니다.
* ```age```: 사용자가 입력한 연령. (한국 나이 기준)
  * 값이 -1일 경우 사용자가 연령 정보를 입력하지 않았다고 간주합니다.
  * 값이 45일 경우 45세 이상이라고 간주합니다.

In [3]:
# 판다스의 read_csv 기능을 이용하여 지그재그의 사용자 정보(user_info.csv)를 읽어옵니다.
# 이 결과를 user_info라는 이름의 변수에 할당합니다.
user_info = pd.read_csv("data/zigzag/user_info.csv")

# user_info 변수에 할당된 데이터의 행렬 사이즈를 출력합니다.
# 출력은 (row, column) 으로 표시됩니다.
print(user_info.shape)

# head()로 user_info 데이터의 상위 5개를 띄웁니다.
user_info.head()

(10000, 3)

                            user_id   os  age
0  --PYPMX8QWg0ioT5zfORmU-S5Lln0lot  And   41
1  -16-xXbeDcvkZJtTpRwMi57Yo2ZQpORv  iOS   31
2  -1de9sT-MLwVVvnC0ncCLnqEqpSi3XSN  iOS   16
3  -3A3L2jnM55B_Q1bRXMjZ6sPnINIj-Y1  And   41
4  -3bhcSgPOIdQAPkPNcchxvECGqGQQ78k  And   42

**shop_info.csv**

그 다음 가져올 데이터는 지그재그에 입점한 쇼핑몰 정보를 나타내는 ```shop_info.csv``` 입니다. 컬럼 설명은 다음과 같습니다.

* ```shop_id```: 쇼핑몰의 고유함을 나타내는 아이디.
* ```name```: 쇼핑몰의 이름.
* ```category```: 쇼핑몰이 등록한 카테고리. (ex: 의류, 가방, 슈즈, 액세서리, etc)
* ```age```: 쇼핑몰에서 등록한 연령대. "이 연령대의 사람들이 우리 쇼핑몰에서 구매를 한다."라는 것을 나타냅니다.
  * category 값이 '의류'인 경우에만 연령대가 등록되어 있습니다.
  * 표현 형식은 10대, 20대 초반, 30대 중반 등으로 되어있습니다.
  * 두 개 이상의 연령대를 표현할 경우 슬래시(```/```)를 사용합니다.
* ```style```: 쇼핑몰이 등록한 스타일. "우리 쇼핑물은 이런 스타일의 상품을 판매합니다."라는 것을 나타냅니다.
  * category 값이 '의류', '빅사이즈', '커플룩', '액세서리'인 경우에만 스타일 값이 등록되어 있습니다.
  * 두 개 이상의 스타일을 표현할 경우 슬래시(```/```)를 사용합니다.

In [4]:
# 판다스의 read_csv 기능을 이용하여 지그재그의 쇼핑몰 정보(shop_info.csv)를 읽어옵니다.
# 이 결과를 shop_info라는 이름의 변수에 할당합니다.
shop_info = pd.read_csv("data/zigzag/shop_info.csv")

# shop_info 변수에 할당된 데이터의 행렬 사이즈를 출력합니다.
# 출력은 (row, column) 으로 표시됩니다.
print(shop_info.shape)

# head()로 shop_info 데이터의 상위 5개를 띄웁니다.
shop_info.head()

(200, 5)

   shop_id     name category                   age         style
0        1     Edna       의류  20대 중반/20대 후반/30대 초반      모던시크/러블리
1        2      Pam       의류  20대 중반/20대 후반/30대 초반     러블리/심플베이직
2        3  Carolyn       의류  20대 중반/20대 후반/30대 초반    모던시크/심플베이직
3        4     Joan       의류         30대 초반/30대 중반     미시스타일/유니크
4        5  Florene       의류  20대 중반/20대 후반/30대 초반  심플베이직/헐리웃스타일

**goods_info.csv**

그 다음 가져올 데이터는 지그재그에 등록된 상품 정보를 나타내는 ```goods_info.csv``` 입니다. 컬럼 설명은 다음과 같습니다.

* ```goods_id```: 상품의 고유함을 나타내는 아이디.
* ```timestamp```: 상품 정보가 마지막으로 업데이트된 시간.
* ```shop_id```: 해당 상품을 등록한 쇼핑몰의 고유함을 나타내는 아이디.
* ```category```: 상품의 카테고리. (ex: 상의, 바지, 스커트, 원피스, etc)
* ```price```: 상품의 가격. (단위: 원)
  * 주의: 상품에서 제공하는 옵션에 따라, 실제 사용자에게 적용되는 가격은 다를 수 있습니다.
* ```image_type```: 상품의 대표 이미지의 확장자. (jpg, gif, png)
* ```image_width```: 상품의 대표 이미지의 너비. (단위: pixel)
* ```image_height```: 상품의 대표 이미지의 높이. (단위: pixel)

In [5]:
# 판다스의 read_csv 기능을 이용하여 지그재그의 상품 정보(goods_info.csv)를 읽어옵니다.
# 이 결과를 goods_info라는 이름의 변수에 할당합니다.
goods_info = pd.read_csv("data/zigzag/goods_info.csv")

# goods_info 변수에 할당된 데이터의 행렬 사이즈를 출력합니다.
# 출력은 (row, column) 으로 표시됩니다.
print(goods_info.shape)

# head()로 goods_info 데이터의 상위 5개를 띄웁니다.
goods_info.head()

(7188, 8)

,goods_id,timestamp,shop_id,category,price,image_type,image_width,image_height
0,1,2017-01-03 17:15:47.095,153,상의,17000,jpg,500,500
1,2,2017-01-05 19:00:05.126,11,악세사리,268000,gif,270,360
2,3,2017-01-16 16:34:12.717,86,란제리&파자마,22000,jpg,500,666
3,4,2017-01-18 18:35:54.200,53,란제리&파자마,24800,gif,280,380
4,5,2017-01-21 17:09:08.954,60,스커트,29000,jpg,330,235

**order_info.csv**

그 다음 가져올 데이터는 지그재그 앱 사용자의 상품 주문 정보를 나타내는 ```order_info.csv``` 입니다. 컬럼 설명은 다음과 같습니다.

* ```timestamp```: 상품을 주문한 시간. (한국 시간 기준)
* ```user_id```: 주문을 한 사용자의 고유함을 나타내는 아이디.
* ```goods_id```: 주문한 상품의 고유함을 나타내는 아이디.
* ```shop_id```: 주문한 상품을 등록한 쇼핑몰의 고유함을 나타내는 아이디.
* ```price```: 상품을 주문했을 당시의 금액. (단위: 원)

In [6]:
# 판다스의 read_csv 기능을 이용하여 지그재그의 구매 정보(order_info.csv)를 읽어옵니다.
# 이 결과를 order_info라는 이름의 변수에 할당합니다.
order_info = pd.read_csv("data/zigzag/order_info.csv")

# order_info 변수에 할당된 데이터의 행렬 사이즈를 출력합니다.
# 출력은 (row, column) 으로 표시됩니다.
print(order_info.shape)

# head()로 order_info 데이터의 상위 5개를 띄웁니다.
order_info.head()

(867, 5)

,timestamp,user_id,goods_id,shop_id,price
0,2018-06-11 00:00:43.032,bvu0aLTqiFDoU-963xnr5nzQWTNLUMjx,1414,38,45000
1,2018-06-11 00:02:33.763,smDmRnykg61KajpxXKzQ0oNkrh2nuSBj,1351,12,9500
2,2018-06-11 00:04:06.364,EyGjKYtSqZgqJ1ddKCtH5XwGirTyOH2P,646,14,22000
3,2018-06-11 00:04:17.258,KQBGi33Zxh5Dgu0WEkOkjN0YqTT_wxC3,5901,46,29800
4,2018-06-11 00:05:26.010,lq1Je3voA3a0MouSFba3629lKCvweI24,5572,89,29000

**user_event_logs.csv**

그 다음 가져올 데이터는 지그재그 앱을 사용하는 사용자의 로그를 나타내는 ```user_event_logs.csv``` 입니다. 컬럼 설명은 다음과 같습니다.

* ```timestamp```: 로그를 남긴 시간.
* ```user_id```: 로그를 남긴 사용자의 고유함을 나타내는 아이디.
* ```event_origin```: 로그를 남길 당시 해당 이벤트가 발생한 어플리케이션의 페이지 위치.
  * ```goods_search_result```: 특정 검색어로 상품을 검색한 결과. (Ex: goods_search_result/반팔티)
  * ```shops_ranking```: '쇼핑몰 랭킹' 페이지.
  * ```shops_bookmark```: '즐겨찾기' 페이지.
  * ```category_search_result```: 카테고리를 검색한 결과. (Ex: category_search_result/상의)
  * ```my_goods``` : '내 상품' 페이지.  
* ```event_name```: 발생한 이벤트의 세부 명칭
  * ```app_page_view```: 어플리케이션 내에서 화면을 이동함.
  * ```enter_browser``` : 어플리케이션 내에서 클릭이나 터치를 통해 특정 웹페이지로 진입함.
  * ```add_bookmark``` : 특정 쇼핑몰을 즐겨찾기에서 추가함.
  * ```remove_bookmark``` : 특정 쇼핑몰을 즐겨찾기에서 제거함.
  * ```add_my_goods``` : 특정 상품을 내 상품 페이지에서 추가.
  * ```remove_my_goods``` : 특정 상품을 내 상품 페이지에서 추가.
* ```event_goods_id```: 이벤트가 발생했을 경우, 이 이벤트와 연관된 상품의 고유함을 나타내는 아이디.
  * 만일 상품 관련 이벤트가 아닌 경우에는 상품 아이디가 기록되지 않는다. (공백으로 처리함)
* ```event_shop_id```:  이벤트가 발생했을 경우, 이 이벤트와 연관된 쇼핑몰의 고유함을 나타내는 아이디.
  * 만일 쇼핑몰 관련 이벤트가 아닌 경우에는 쇼핑몰 아이디가 기록되지 않는다. (공백으로 처리함)

In [7]:
# 판다스의 read_csv 기능을 이용하여 지그재그의 서비스 이용 히스토리 정보(user_event_logs.csv)를 읽어옵니다.
# 이 결과를 user_event_logs라는 이름의 변수에 할당합니다.
user_event_logs = pd.read_csv("data/zigzag/user_event_logs.csv")

# user_event_logs 변수에 할당된 데이터의 행렬 사이즈를 출력합니다.
# 출력은 (row, column) 으로 표시됩니다.
print(user_event_logs.shape)

# head()로 user_event_logs 데이터의 상위 5개를 띄웁니다.
user_event_logs.head()

(105815, 6)

,timestamp,user_id,event_origin,event_name,event_goods_id,event_shop_id
0,2018-06-11 00:00:00.213,K1d8_t3-QIskaSkrx32oAFu856D8JmLo,shops_ranking,app_page_view,NaN,NaN
1,2018-06-11 00:00:00.810,lwFZ77v_ygk0uU40t1ud3l30EZ6sE2R3,shops_bookmark,app_page_view,NaN,NaN
2,2018-06-11 00:00:00.956,mR-bO6hC9g-m8ERXMRQZaRwJFvzNNdd8,goods_search_result/로브,app_page_view,NaN,NaN
3,2018-06-11 00:00:01.084,K1d8_t3-QIskaSkrx32oAFu856D8JmLo,shops_bookmark,app_page_view,NaN,NaN
4,2018-06-11 00:00:01.561,Yjny5AchUWLiuv4kdeq50COF-S8OFXPd,shops_bookmark,app_page_view,NaN,NaN

### 1. 운영팀이 사용자의 정보를 빠르게 확인할 수 있도록 가능한 모든 상세 정보를 출력하세요.

운영팀(일명 CS팀)에서 가장 많이 필요로 하는 기능은 CS채널(이메일, 전화 등)을 통해 고객의 요청이 들어왔을 때, 해당 고객에 대한 가능한 모든 정보를 빠르게 색인하는 것입니다.

가령 어떤 고객이 전화를 통해 중복 구매한 상품에 대해 환불 요청을 했다고 가정하겠습니다. 이 경우 CS팀에서는 그 고객이 해당 상품을 중복 구매한 것이 맞는지를 먼저 확인해야 합니다. 또는 어떤 고객이 어플리케이션이 제대로 동작하지 않는다는 문의를 했다면, 해당 사용자가 문의를 준 시간을 기준으로 최근까지의 모든 활동 내역을 출력할 수 있어야 합니다.

그런 의미에서 특정 사용자의 아이디를 집어넣으면, 해당 사용자의 가능한 모든 정보를 일괄로 변환하는 함수를 만들도록 하겠습니다. 이 함수에는 다음의 기능이 들어가야 합니다.

1. 해당 사용자의 기본 정보(연령대 등)를 볼 수 있어야 합니다.
2. 해당 사용자가 구매한 모든 상품의 구매 내역을 볼 수 있어야 합니다.
3. 특정 날짜/시간을 기준으로 해당 사용자의 최근 활동 내역 (페이지 방문, 즐겨찾기 등)을 전부 볼 수 있어야 합니다.

가령 예시는 다음과 같습니다.

In [8]:
# age -1 => None
def age_none(x):
    if x == -1 : return None
    else : return x
    
def make_generation(x):
    if x // 10 == 1 : return '10대'
    elif x // 10 == 2 : return '20대'
    elif x // 10 == 3: return '30대'
    elif (x //10 == 4) and (x < 45) : return '40대'
    elif x == 45 : return '40대 이상'
    
    
############################################################
    
def get_user_info():
    user_info['age'] = user_info['age'].apply(age_none)
    return user_info


############################################################

def get_all_merged():
    all_merged_table = (
    user_info.merge(order_info, on='user_id')
        .merge(shop_info, on='shop_id')
        .merge(goods_info, on='goods_id')
        .merge(user_event_logs, on='user_id')
    )
    
    all_merged = all_merged_table[['user_id','os','timestamp','event_origin','event_name','age_x','name','category_x','category_y','price_x']]
    all_merged = all_merged.rename(columns={'age_x':'user_age',
                                            'name':'shop_name', 
                                            'category_x':'category(shop)', 
                                            'category_y':'category(goods)',
                                            'price_x':'price'
                                           }
                                  )
    
    all_merged['user_age'] = all_merged['user_age'].apply(age_none)
    all_merged['timestamp'] = pd.to_datetime(all_merged['timestamp'],format="%Y-%m-%d %H:%M:%S")
    
    return all_merged
    

############################################################    
def get_order_merged():
    order_merged_table = (
    user_info.merge(order_info,on='user_id')
        .merge(shop_info, on='shop_id')
        .merge(goods_info, on='goods_id')
    )

    order_merged = order_merged_table[['timestamp_x','os','user_id','age_x','name','category_x','category_y','price_x']]
    order_merged = order_merged.rename(columns={'timestamp_x':'timestamp',
                                                'age_x':'user_age',
                                                'price_x':'price',
                                                'name':'shop_name',
                                                'category_x':'category(shop)',
                                                'category_y':'category(goods)'
                                               }
                                      )

    order_merged['user_age'] = order_merged['user_age'].apply(age_none)
    order_merged['generation'] = order_merged['user_age'].apply(make_generation)
    order_merged['timestamp'] = pd.to_datetime(order_merged['timestamp'],format="%Y-%m-%d %H:%M:%S")
    
    return order_merged

############################################################

def get_logs_merged():
    
    logs_merged_table = (
    user_event_logs.merge(user_info, on='user_id')
        .merge(shop_info, left_on='event_shop_id',right_on='shop_id')
        .merge(goods_info, left_on='event_goods_id',right_on='goods_id')
    )
    
    logs_merged = logs_merged_table[['user_id','timestamp_x','event_origin','event_name','age_x','name','category_x','category_y','price']]
    logs_merged = logs_merged.rename(columns={'timestamp_x':'timestamp',
                                                'age_x':'user_age',
                                                'name':'shop_name',
                                                'category_x':'category(shop)',
                                                'category_y':'category(goods)'
                                               }
                                      )

    logs_merged['user_age'] = logs_merged['user_age'].apply(age_none)
    logs_merged['timestamp'] = pd.to_datetime(logs_merged['timestamp'],format="%Y-%m-%d %H:%M:%S")
    
    return logs_merged

In [9]:
# find_user라는 함수를 정의합니다.
# 이 함수에 사용자 ID를 인자로 넣으면, 해당 사용자의 가능한 모든 정보를 일괄로 출력하고 반환합니다.
# 추가로 마지막 날짜/시간을 finish 옵션으로 지정할 수 있으며, 이 경우에는 해당 날짜/시간 이후의 기록은 배제합니다.
def find_user(user_id, finish='today'):
    
    user_info = get_user_info()
    order_merged = get_order_merged()
    logs_merged = get_logs_merged()
    
    profile = user_info[user_info['user_id'] == user_id][:1]
    profile = profile.set_index('user_id')
    display(profile)
    
    if (finish == None) or (finish == 'today'):
        orders = order_merged[order_merged['user_id'] == user_id][['timestamp','user_age','shop_name','category(shop)','category(goods)','price']]
        display(orders)
        
        logs = logs_merged[logs_merged['user_id'] == user_id][['timestamp','event_origin','event_name','user_age','shop_name','category(shop)','category(goods)','price']]
        logs = logs.sort_values(by='timestamp', ascending=False)
        display(logs)
        
    else :
        orders = order_merged.loc[(order_merged['user_id']==user_id) & (order_merged['timestamp'] <= finish)][['timestamp','user_age','shop_name','category(shop)','category(goods)','price']]
        display(orders)
        
        logs = logs_merged.loc[(logs_merged['user_id'] == user_id) & (logs_merged['timestamp'] <= finish)][['timestamp','user_age','shop_name','category(shop)','category(goods)','price']]
        logs = logs.sort_values(by='timestamp',ascending=False)
        display(logs)
                                                       
    return profile,orders,logs

finish = pd.to_datetime("2018-06-11 18:00:00")
user_id = "gni976f7oJAqbJCoOd9N7pupYq43qujw"
profile,orders, logs = find_user(user_id, finish)

                                   os   age
user_id
gni976f7oJAqbJCoOd9N7pupYq43qujw  iOS  33.0

Empty DataFrame
Columns: [timestamp, user_age, shop_name, category(shop), category(goods), price]
Index: []

,timestamp,user_age,shop_name,category(shop),category(goods),price
5167,2018-06-11 16:29:27.990,33.0,Delmy,의류,원피스,24800
5166,2018-06-11 16:27:08.223,33.0,Delmy,의류,원피스,24800
9925,2018-06-11 16:26:59.993,33.0,Mabel,의류,원피스,35100

구현하면서 주의하셔야 할 점은 다음과 같습니다.

* 이 대시보드를 이용하는 비개발 직군 입장에서, 외래키(foreign key, 예를 들어 user_id나 goods_id, shop_id 등)는 사용자를 파악하는데 별로 도움이 되지 않습니다. 이 경우에는 외래키가 아닌 실제 정보(가령 goods_id가 아닌 상품의 실제 가격 등)을 보여주는 것이 좋습니다.
* 이 기능을 장기적인 관점에서 확장할 수 있으면 좋겠습니다. 가령 사용자 테이블에 OS나 나이(Age) 외에도 사용자의 이름이나 거주지 정보가 추가된다면, 이 함수를 수정하지 않아도 자동으로 추가되었으면 좋겠습니다.

### 2. 시간당 매출의 변화량을 구하는 그래프를 출력하기

대시보드에서 가장 먼저 보고 싶은 시각화는 서비스의 매출, 그것도 시간당 매출의 변화량입니다. 지그재그와 같은 전자상거래 스타트업에서 서비스의 매출과 판매량을 실시간으로 확인하는 것은 다른 무엇보다도 중요합니다. 그런 의미에서 시간당 매출의 변화량을 시각화하는 ```plot_sales```라는 함수를 구현하고 싶습니다.

![dashboard](http://drive.google.com/uc?export=view&id=1zdtfYbYz0WtHIAq8v152QzQxAqDHsPHH)
<center><small><b>시간당 매출의 변화량을 알 수 있는 그래프입니다. 시각화는 일명 stacked barplot이라는 개념을 사용하였습니다.</b></small></center>
<center><small><b>X축은 시간(0시 ~ 23시)이며, Y축은 매출입니다. 그리고 특정 쇼핑몰이나 카테고리, 연령대마다 다른 컬러를 줄 수 있습니다.</b></small></center>
<center><small><b>(위 시각화는 연령대별로 다른 컬러값을 주었습니다)</b></small></center>

이 ```plot_sales``` 함수에는 추가로 다음의 옵션이 들어갑니다.

  * ```by```: 상품을 구분하는 기준이 되는 옵션입니다. 크게 1) category(상품의 카테고리. 상의, 바지, 원피스 등), 2) shop(상품을 판매하는 쇼핑몰. Norma, Edie, Marie 등), 3) Age(구매자의 나이, 10대 20대 30대 등) 중에 하나를 선택할 수 있습니다.
  * ```num_class```: 상품을 구분하는 기준이 여러 개일 경우, 상위 N개를 선택하는 옵션입니다. 가령 num_class가 5라면 상위 5개를 제외한 나머지는 '기타'로 묶어서 시각화합니다.
  * ```sort```: 정렬 여부입니다. True/False 중 하나가 들어가며, True를 넣으면 매출이 높은 순으로 정렬하고 False를 넣으면 아예 정렬하지 않습니다.
  * ```cumulative```: 통계를 누적해서 보여줄지(True), 누적해서 보여주지 않을지(False)를 선택합니다.
  * ```figsize```: 그래프의 가로X세로를 정할 수 있습니다. 가령 (18, 8)이면 가로 18, 세로 8로 출력합니다. (기본값은 (18, 8) 입니다)
    
가령 예시는 다음과 같습니다.

In [12]:
a = get_order_merged()
a['hour'] = a['timestamp'].dt.hour

a

,timestamp,os,user_id,user_age,shop_name,category(shop),category(goods),price,generation,hour
0,2018-06-11 23:19:11.439,iOS,-1de9sT-MLwVVvnC0ncCLnqEqpSi3XSN,16.0,Norma,의류,원피스,19500,10대,23
1,2018-06-11 01:20:27.478,And,1tMp-b0zm9iEuTHKcbfT1kLMe8hRMEUg,22.0,Norma,의류,원피스,19500,20대,1
2,2018-06-11 22:45:57.590,iOS,OPnwAjfoQJti78IwpI3A1K4MJzRBq5cK,16.0,Norma,의류,원피스,19500,10대,22
3,2018-06-11 21:14:46.749,And,VAoDjujKB57bPyg9vFdLPYy-AhlzM_5R,19.0,Norma,의류,원피스,19500,10대,21
4,2018-06-11 22:26:01.143,iOS,VdoXEs0KTqiF_i6dfCzhCySQq1r6sGzF,16.0,Norma,의류,원피스,19500,10대,22
...,...,...,...,...,...,...,...,...,...,...
862,2018-06-11 23:08:48.985,iOS,svMlM7AAM3U4gy1Pk58jLgb3Gqyz2sNI,32.0,Katrina,빅사이즈,아우터,29000,30대,23
863,2018-06-11 20:30:18.958,iOS,u5WuIgDRxCjZHnBUQWO2K7koTOXbYNt4,41.0,Jennie,의류,상의,21600,40대,20
864,2018-06-11 22:20:34.998,And,uCEatnbV_pxTXOLiLRpFTjNrEdZEIdSj,32.0,Leah,빅사이즈,원피스,42500,30대,22
865,2018-06-11 09:48:42.388,And,uNwLUiOTcbxsiecO2Ok-7AtRXv6w_q1R,36.0,Sue,빅사이즈,스커트,41000,30대,9
866,2018-06-11 11:53:23.562,And,xIXvneaMLvKiJG2u-JVEe0uHyFXL2Rfj,26.0,Delores,슈즈,슈즈,31500,20대,11

In [10]:
# plot_sales라는 함수를 정의합니다.
# 이 함수에 앞서 설명한 다양한 옵션들(by, num_class, etc)를 넣으면 시간당 매출의 변화량을 시각화할 수 있습니다.
import plotly.plotly as py 
import cufflinks as cf 
cf.go_offline(connected=True)

def plot_sales(by, num_class, sort = True, cumulative = False, figsize = (18, 8)):
    
    if by == 'category' : by = 'category(goods)'
    elif by == 'shop' : by = 'shop_name'
    elif by == 'age' : by = 'generation'
    
    order_merged = get_order_merged()
    order_merged['hour'] = order_merged['timestamp'].dt.hour
    
    if num_class == None :
        pass
    elif type(num_class) == int :
        top_n = order_merged.groupby(by)['price'].sum().sort_values(ascending=False).head(num_class).index
        not_top_n = order_merged[~order_merged[by].isin(top_n)][by].unique()
        order_merged.loc[order_merged[by].isin(not_top_n),by] = "기타"
        order_merged = order_merged.groupby(['hour',by])[by].count().unstack(by).fillna(0)
        
    if cumulative == False :
        pass
    elif cumulative == True:
        order_merged = order_merged.groupby(['hour',by])[by].count().unstack(by).fillna(0).cumsum()
        
    
    order_merged.iplot(kind='bar', barmode='stack',xTitle='time',yTitle='매출',title=by+"별 시간당 매출변화")
    
    
#########################################################    

plot_sales(by = 'generation',
           num_class = 5,
           sort = True,
           cumulative = False)

In [ ]:
# plot_sales 함수를 활용해 시간당 매출 변화량을 시각화합니다.
# by 옵션에는 category를 넣어 카테고리(상의, 바지, 원피스 등)를 구분해서 시각화합니다.
# num_class 옵션에는 5를 넣어서 상위 5개의 카테고리만 시각화합니다.
# sort 옵션에는 True를 넣어 매출이 높은 순으로 정렬합니다.
# cumulative 옵션에는 False를 넣어 누적값을 계산하지 않습니다.
plot_sales(by = 'category',
           num_class = 5,
           sort = True,
           cumulative = False)

In [ ]:
# plot_sales 함수를 활용해 시간당 매출 변화량을 시각화합니다.
# by 옵션에는 shop을 넣어 쇼핑몰(Norma, Edie, Marie 등)을 구분해서 시각화합니다.
# num_class 옵션에는 15를 넣어서 상위 15개의 쇼핑몰만 시각화합니다.
# sort 옵션에는 True를 넣어 매출이 높은 순으로 정렬합니다.
# cumulative 옵션에는 False를 넣어 누적값을 계산하지 않습니다.
plot_sales(by = 'shop',
           num_class = 15,
           sort = True,
           cumulative = False)

In [ ]:
# plot_sales 함수를 활용해 시간당 매출 변화량을 시각화합니다.
# by 옵션에는 age를 넣어 구매자의 나이(10대 20대 30대 등)를 구분해서 시각화합니다.
# num_class 옵션에는 None를 넣어서 모든 종류를 전부 출력합니다.
# sort 옵션에는 False를 넣어 별도의 정렬 알고리즘을 사용하지 않습니다.
# cumulative 옵션에는 False를 넣어 누적값을 계산하지 않습니다.
plot_sales(by = 'age',
           num_class = None,
           sort = False,
           cumulative = False)

In [ ]:
# plot_sales 함수를 활용해 시간당 매출 변화량을 시각화합니다.
# by 옵션에는 age를 넣어 구매자의 나이(10대 20대 30대 등)를 구분해서 시각화합니다.
# num_class 옵션에는 None를 넣어서 모든 종류를 전부 출력합니다.
# sort 옵션에는 False를 넣어 별도의 정렬 알고리즘을 사용하지 않습니다.
# cumulative 옵션에는 True를 넣어 누적값을 계산합니다.
plot_sales(by = 'age',
           num_class = None,
           sort = False,
           cumulative = True)

In [ ]:
a['hour'] = a['timestamp'].dt.hour

구현하면서 주의하셔야 할 점은 다음과 같습니다.

* 다른 부분은 정확하게 일치해야 하지만, 칼라값은 반드시 일치할 필요는 없습니다. 다만 by 옵션으로 구분한 데이터마다 명확한 컬러로 나눠져 보여야 직관적인 시각화가 나올 것입니다.
* 이 함수를 장기적인 관점에서 확장할 수 있으면 좋겠습니다. 가령 시간별 매출의 변화량 뿐만 아니라, 일별 / 월별 매출의 변화량을 출력할 수 있도록 확장할 수 있다면 차후 비개발직군에서 대시보드의 기능을 업데이트하는데 큰 도움이 될 것입니다.

In [ ]:
a = a.set_index('timestamp')

### 3. 특정 쇼핑몰 또는 상품 카테고리만을 시각화하는 그래프를 구현하기

In [ ]:
# df[df['appversion'] == x]['rowuuid'].resample(minute+'T').count()
a.resample('H').groupby('category(goods)').count()

이 다음 보고 싶은 그래프는 시간별 / 나이별 상품의 판매 현황입니다. 여기에 추가로 특정 쇼핑몰 또는 상품 카테고리마다 다르게 시각화를 하고 싶습니다. 예시는 다음과 같습니다.

![dashboard](http://drive.google.com/uc?export=view&id=1T5ApvOMMMT7xGjs_n6ZB0pDDGvp9idOz)
<center><small><b>X축은 0시부터 24시, (0분 ~ 1,440분) Y축은 상품을 구매한 고객의 나이를 나타냅니다.</b></small></center>
<center><small><b>동그라미는 고객이 물건을 구매했다는 사실을 나타냅니다. 동그라미미의 크기가 클수록 더 비싼 상품을 구매했다고 볼 수 있습니다.</b></small></center>
<center><small><b>또한 특정 쇼핑몰(Norma, Edie, Angela)이나 상품 카테고리(원피스, 상의, 바지)를 지정하여 강조할 수 있습니다.</b></small></center>


이 그래프를 통해 지그재그의 구성원들은 상품 판매 현황에 대한 다양한 정보를 알 수 있습니다. 가령

  * 연령대별로 상품을 구매하는 시기와 구매하지 않는 시기를 파악할 수 있습니다. 가령 10대 고객의 경우 오전 10시부터 오후 4시까지는 구매가 일어나지 않는 것을 확인할 수 있습니다. (아마도 학교에서 수업을 듣는 중이겠죠) 그리고 연령에 상관없이 모든 고객들이 오전 3시부터 오전 6시까지는 상품을 구매하지 않는 사실을 알 수 있습니다. (아마도 자는 중이라고 판단할 수 있습니다)
  * 특정 쇼핑몰이나 특정 상품 카테고리만 강조하여, 다른 것들과의 차이를 비교할 수 있습니다. 가령 위의 시각화에서는 Norma라는 이름의 쇼핑몰은 상대적으로 젊은 연령대(20대 초반)에서 구매가 많이 일어나고, Angela라는 이름의 쇼핑몰은 이보다 높은 연령대에서 구매가 많이 일어난다는 사실을 알 수 있습니다.
  
그러므로 시간별 / 나이별 상품의 판매 현황을 확인할 수 있는 ```plot_sales_by_age```라는 함수를 구현하겠습니다. 이 함수에는 다음의 옵션이 추가로 들어갑니다.

  * ```query```: 특정 상품을 강조하는 기능입니다. 파이썬의 [딕셔너리](https://wikidocs.net/16)가 들어가며, 키(key)는 강조할 값의 종류(쇼핑몰 / 상품 카테고리), 값(value)에는 그 쇼핑몰과 상품 카테고리의 명칭을 넣으면 됩니다.
  * ```figsize```: 그래프의 가로X세로를 정할 수 있습니다. 가령 (18, 6)이면 가로 18, 세로 6로 출력합니다. (기본값은 (18, 6) 입니다)
  
가령 예시는 다음과 같습니다.

In [ ]:
# plot_sales_by_age라는 함수를 정의합니다.
# 이 함수에 앞서 설명한 다양한 옵션들(query, etc)를 넣으면 시간별 / 나이별 상품 구매량을 시각화할 수 있습니다.
def plot_sales_by_age(query, figsize = (18, 6)):
    # ToDo: 여기에 코드를 작성해서 plot_sales_by_age 함수를 완성해주세요.
    pass

In [ ]:
# 시간별/연령별 구매 현황을 출력합니다.
# 여기에서 Norma, Edie 라는 이름의 쇼핑몰에서 구매가 일어난 내역을 강조하고, 나머지는 회색으로 처리합니다.
query = {"shop_name": ["Norma", "Edie"]}

plot_sales_by_age(query)

In [ ]:
# 시간별/연령별 구매 현황을 출력합니다.
# 여기에서 원피스, 상의, 바지 카테고리만 강조하고, 나머지는 회색으로 처리합니다.
query = {"category": ["원피스", "상의", "바지"]}

plot_sales_by_age(query)

구현하면서 주의하셔야 할 점은 다음과 같습니다.

* x축, 일명 ```timestamp(period)```는 시간(hour)과 분(minute)을 조합해서 만들 수 있습니다. 가장 낮은 값은 0이며(0시 0분), 가장 높은 값은 1,440(24시 00분) 입니다.
* 이전 시각화와 마찬가지로 컬라값은 그림과 반드시 일치할 필요는 없습니다. 다만 ```query``` 옵션으로 구분한 데이터마다 명확한 컬러의 차이를 보여줘야 직관적인 시각화라고 할 수 있습니다.

### 4. 자유 주제 - 데이터를 활용하여 자유롭게 시각화를 해주세요.

마지막 문제는 자유 주제입니다. 특정한 형식에 구애받지 않고 자유롭게 데이터 분석과 시각화를 통해 데이터에서 인사이트를 추출해주세요.

지그재그의 데이터에는 아직 우리가 분석하지 않은 미지의 요소들이 있습니다. 몇 가지 예시를 적어보자면 다음과 같습니다.

  * 검색 키워드 분석. 로그의 ```event_origin``` 컬럼에는 ```goods_search_result```, ```category_search_result```이라는 값과 그 검색 키워드가 적혀 있습니다. 이 검색 키워드로 알 수 있는 새로운 정보들이 많을 것입니다.
  * 이탈률 분석. 지그재그의 서비스에 유입한 고객들이 목표(ex: 상품 구매)를 달성하지 못하고 서비스를 이탈하는 상황이 발생할 수 있습니다. 이 현황을 실시간으로 파악할 수 있는 기능을 구현한다면 지그재그의 구성원들에게 큰 도움이 될 것입니다.
  * 로그 분석. 지그재그 데이터의 가장 큰 장점 중 하나는 로그(```user_event_logs.csv```)가 상세히 기록되고 있다는 것입니다. 이 로그를 활용하면 일반적인 쇼핑몰 큐레이션&랭킹 서비스에서는 알 수 없는 새로운 정보를 찾아낼 수 있을 겁니다.

데이터 분석 및 시각화를 하면서 주의할 점은 다음과 같습니다.

  * 데이터 분석 및 시각화에서 가장 경계해야 할 점은, 그림은 예쁘지만 아무런 정보를 얻을 수 없는 시각화를 하는 것입니다. 시각화는 언제나 직관적이어야 하며, 시각화를 통해서 얻을 수 있는 정보나 영감이 있어야 합니다. 이 점을 강조해서 시각화를 할 수 있었으면 합니다.
  * 비슷한 이유로 가장 경계해야 하는 것은, 이미 지그재그 구성원들이 알고 있는 사실을 시각화하는 것입니다. 모든 분석은 이미 알고 있는 정보를 검증하는 용도가 아닌, 아직 발견하지 못한 새로운 정보를 찾아내기 위한 과정이어야 합니다. 그런 의미에서 지그재그의 구성원분들, 내지는 일반적인 쇼핑몰 큐레이션&랭킹 서비스에서는 알 수 없는 새로운 정보를 발견할 수 있으면 좋겠습니다.
  * 분석을 할 때는 언제나 중요한 정보를 중점적으로 분석하고, 중요하지 않은 정보는 분석 우선순위에서 미루거나 제외하는 것이 좋습니다. 가령 굳이 예를 들자면 상품의 이미지 타입(```image_type```)과 가로X세로(```image_width```X```image_height```)는 중요하지 않을 가능성이 높습니다. 이런 정보들을 분석하는 건 후순위로 미루는 걸 추천합니다.

In [ ]:
# Write your code here!

### 과제 제출

과제를 모두 푼 분들은 datascience@dsschool.co.kr 에 결과를 제출해주세요. 제출할 때는 다음의 자료가 필요합니다.

1. 과제를 푼 쥬피터 노트북. ipynb 파일로 보내주시면 됩니다.
1. 과제를 푼 지원자의 이력을 알 수 있는 이력서와 포트폴리오, 기타 본인의 커리어와 능력을 어필할 수 있는 자료.

과제에 대해 궁금한 점이 있다면 datascience@dsschool.co.kr로 문의 메일을 보내주세요. 다만 면접용 과제이니만큼 과제 풀이에 대한 힌트를 드릴 수는 없으며, 동일한 이유로 과제에 대한 솔루션을 제공해드릴 수 없는 점 양해 부탁드립니다. (컬럼이나 데이터, 그리고 문제에 대한 부연설명 요청 등은 언제든지 환영합니다)

수업 내용, 과제에 대한 문의사항은 datascience@dsschool.co.kr로, 수료증이나 기수 변경, 기타 영수증 발급은 support@dsschool.co.kr 로 보내주세요.