In [3]:
import pandas as pd
import json

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib.inline
sns.set()

UsageError: Line magic function `%matplotlib.inline` not found.

#### 크롤링하여 저장해놓은 데이터를 불러온다

In [4]:
# read json

with open('유저별정보_200310_1',encoding='utf-8') as json_file:
    json_data_1 = json.load(json_file)
with open('유저별정보_200310_2',encoding='utf-8') as json_file:
    json_data_2 = json.load(json_file)
with open('유저별정보_200310_3',encoding='utf-8') as json_file:
    json_data_3 = json.load(json_file)

In [7]:
# json to DataFrame

df_1 = pd.DataFrame(json_data_1['data'])
df_2 = pd.DataFrame(json_data_2['data'])
df_3 = pd.DataFrame(json_data_3['data'])

#### 로드해온 총 3개의 데이터프레임을 하나로 이어붙인다.

In [11]:
df = pd.concat([df_1,df_2,df_3])

# change index
df.set_index('user_id',inplace=True)

In [13]:
df.head(3)

,category,grade,hired_cnt,review_cnt,address,career,business_size,auth_business,auth_personal,payment
user_id,,,,,,,,,,
1177731,[ 일본어(일어) 과외 ],0.0,신규고수,0,강원 원주시,5,2,None,본인 인증,"안전거래, 계좌이체, 현금결제 가능"
1699997,"[ 퍼스널 컬러/이미지 메이킹 , 뷰티/미용 레슨 , 속눈썹 연장/파마 ]",0.0,신규고수,0,세종특별자치시 시청대로,20,2,None,None,"카드결제, 계좌이체, 현금결제 가능"
807658,[ 축구 레슨 ],0.0,신규고수,0,서울특별시 마포구,4,None,None,본인 인증,None

#### 만들어진 데이터프레임의 모양을 살펴본다.

In [14]:
df.shape # 총 15827개의 row와 10개

(15827, 10)